<footer>
  <ul class="nav-footer">
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle nav-link" href="#" id="footer-navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Categories
      </a>
      <ul class="dropdown-menu" id="footer-nav-categories" aria-labelledby="footer-navbarDropdown">
        {% for cat in category_qs %}
        <li>
          <a class="dropdown-item" href="{% url 'blog-category' cat.slug %}">{{cat.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" rel="me" target="_blank" href="https://johnsolly.dev/showcase">Portfolio</a></li>
    <li class="nav-item">
      <a rel="noopener noreferrer" target="_blank"
        href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda"
        class="nav-link">Contact</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'privacy' %}">Privacy</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'works-cited' %}">Works Cited</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'rss' %}">RSS</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'status' %}">Status</a></li>
  </ul>
  <p id="credit">Designed & Built by John Solly</p>
</footer>