{% load static %}
<header>
  <nav class="navbar">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img id="blogthedata-logo" src="{% static 'logo_transparent_cropped.webp' %}" alt="BlogtheData" />
      Solly's Blog
    </a>
    <button type="button" class="hamburger">&#9776;</button>
    <div class="navbar-menu">
      <ul class="navbar-nav">
        <li class="nav-item dropdown nav-categories">
          <a class="nav-link dropdown-toggle" href="#" role="button">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="header-navbarDropdown">
            {% for cat in category_qs %}
            <li>
              <a class="dropdown-item" href="{% url 'blog-category' cat.slug %}">{{cat.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" rel="me" href="https://johnsolly.dev/showcase">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="noopener noreferrer" target="_blank"
            href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rss' %}">RSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'status' %}">Status</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" id="nav-register" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-login" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        {% if user.is_staff %}
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'post-create' %}">New Post</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link github-icon" href="https://github.com/jsolly/awesome-django-blog" target="_blank"
            rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-github"
              viewBox="0 0 16 16">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg>
            Star
          </a>
        </li>
      </ul>
      <form class="d-flex search-form" method="GET" action="{% url 'blog-search' %}">
        {% csrf_token %}
        <input type="search" placeholder="Search Posts..." aria-label="Search" name="searched" />
        <button type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</header>