{% load static %}
<section id="PageSpeed-Insights" class="page-speed-insights-section">
  <div class="row">
    <div class="column">
      <figure>
        <figcaption class="figcaption-text">
          <a rel="noopener noreferrer" target="_blank"
            href="https://pagespeed.web.dev/report?url=https%3A%2F%2Fblogthedata.com%2F">
            Blogthedata.com PageSpeed Insights
          </a>
        </figcaption>
        <img src="{% static 'portfolio/lighthouse_scores.svg' %}"
          alt="Lighthouse scores for blogthedata.com: 100 for Performance, Accessibility, Best Practices, and SEO." />
      </figure>
    </div>
  </div>
</section>