{% load post_utils %}
{% load static %}

<article class="post">
  <a href="{% url 'post-detail' post.slug %}" aria-label='{{ post.title }}'>
    <div class="post-card">
      <div class="post-card-row">
        <div class="post-card-meta-img-container">
          <figure>
            <img src="{{ post.metaimg.url }}" alt="{{ post.metaimg_alt_txt }}" class="post-card-img" loading="lazy">
            <figcaption class="visually-hidden">{{ post.metaimg_alt_txt }}</figcaption>
          </figure>
        </div>
        <div class="post-card-content">
          <div class="post-card-info">
            <div class="post-body">
              <div class="post-header">
                <h2 class="post-title">{{ post.title }}
                  {% if post.draft %}
                  <span class="post-draft">(Draft)</span>
                  {% endif %}
                </h2>
              </div>
              <p class="post-dates">
                {{ post.date_posted|date:"F d, Y" }} in {{ post.category.name }}
                {% if post.date_updated|date:"Ymd" != post.date_posted|date:"Ymd" %}
                <br>
                Last updated: {{ post.date_updated|date:"F d, Y" }}
                {% endif %}
              </p>
              <div class="post-details">
                <div class="post-readtime">
                  <img src="{% static 'svg/clock.svg' %}" alt="Clock Icon" class="post-readtime-icon">
                  <span class="post-readtime-text">{{ post.content|readtime }}</span>
                </div>
              </div>
              {{ post.snippet|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</article>