[run]
plugins = django_coverage_plugin
omit = 
    */tests/*
    */__init__.py
    django_project/blog/templates/blog/pgp-key.txt
    django_project/django_project/settings.py
    django_project/django_project/sitemaps.py
