# Blog Assets
profile_pics/
post_metaimgs/
profile_pics/
uploads/
app/media/django_ckeditor_5/
static/

## Posts and embeddings
exported_posts/
processed/

# Virtual Environments
.venv/

# Environ Variables File
.env

# Coverage files
.coverage

# Temp Files
__pycache__/
.DS_Store

# backups
blogthedata*.sql
linode*.img
migration_backup

# Other
app/logs/*.log*
.vscode/

db.sqlite3
db.sqlite3-journal

