# Django stuff:
profile_pics/
post_metaimgs/
profile_pics/
uploads/
django_project/media/django_ckeditor_5/
backups/
datadump.json
db.sqlite3-journal

# Virtual Environments
venv/

# Environ Varibles File
.env

# Coverage files
.coverage

# Byte-compiled / optimized / DLL files
__pycache__/

# MAC OSX
.DS_Store
.AppleDouble
.LSOverride

# Misc
temp*.py
temp*.html
temp*.yaml
temp*.js

# Logs
blogthedata.log
blogthedata_detailed.log

# migrations
migration_backup