## Development Dependencies
black==23.7.0
coverage==7.2.7
django-coverage-plugin==3.1.0
django-fastdev==1.7.3
django-livereload-server==0.4
pre-commit==3.3.3
pytest==7.4.0
ruff==0.0.280

## For Creating GPT Embeddings
tiktoken==0.4.0