## Core Dependencies
Django==4.2.3
django-ckeditor-5==0.2.8
django-htmx==1.15.0
django-resized==1.0.2
django-robots==5.0
feedparser==6.0.10
filetype==1.2.0
Pillow==10.0.0
psycopg[binary]==3.1.9
psycopg==3.1.9
psutil==5.9.5
python-dotenv==1.0.0
pytz==2023.3
readtime==3.0.0
requests==2.31.0

## Production dependencies
Brotli==1.0.9
django-csp==3.7
django-sri==0.6.0
gunicorn==21.2.0
whitenoise==6.5.0

## GPT Bot dependencies
openai==0.27.8
matplotlib==3.7.2

## Legacy dependencies for migrations
django-ckeditor==6.4.2