<!DOCTYPE html>\n<html lang="en-US">\n\n

<head>\n \n
    <meta property="og:type" content="website">\n
    <meta property="og:locale" content="en_US">\n
    <meta property="og:image" \n content="http://testserver/static/iPhoneblogthedata.webp">\n
    <meta property="og:image:alt" content="An Iphone on a table with blogthedata.com on the screen">\n
    <meta property="og:image:type" content="image/webp">\n
    <meta property="og:image:width" content="1200">\n
    <meta property="og:image:height" content="630">\n \n <title>\n Search Results for Test Post 2\n </title>\n\n
    <!-- Meta -->\n
    <meta charset="utf-8" />\n
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">\n
    <meta name="author" content="John Solly">\n
    <meta name="description" content="Search results for Test Post 2" />\n \n\n <!-- Open Graph Meta -->\n
    <meta property="og:url" content="http://testserver/search/">\n
    <meta property="og:title" content="Search Results for Test Post 2" />\n
    <meta property="og:description" content="Search results for Test Post 2" />\n\n <!-- Twitter Meta -->\n
    <meta name="twitter:card" content="summary_large_image">\n
    <meta name="twitter:image" \n content="http://testserver/static/iPhoneblogthedata.webp">\n
    <meta name="twitter:site" content="@_jsolly">\n
    <meta property="twitter:url" content="http://testserver/search/">\n
    <meta property="twitter:domain" content="testserver">\n
    <meta name="twitter:title" content="Search Results for Test Post 2">\n
    <meta name="twitter:description" content="Search results for Test Post 2" />\n\n <!-- Favicons -->\n
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.webp">\n
    <link rel="icon" type="image/webp" sizes="32x32" href="/static/favicon/favicon-32x32.webp">\n
    <link rel="icon" type="image/webp" sizes="16x16" href="/static/favicon/favicon-16x16.webp">\n
    <link rel="icon" type="image/webp" sizes="512x512" href="/static/favicon/android-chrome-512x512.webp">\n
    <link rel="icon" type="image/webp" sizes="512x512" href="/static/favicon/android-chrome-192x192.webp">\n
    <link rel="icon" type="image/webp" sizes="48x48" href="/static/favicon/favicon.ico">\n\n\n <!-- My CSS -->\n
    <link href="/static/css/main.css" rel="stylesheet" defer>\n\n <!-- HTMX -->\n
    <script src="/static/js/htmx.min.js" defer></script>\n\n <!-- ChatBox JS -->\n
    <script src="/static/js/chatbox.js" defer></script>\n\n <!-- Header JS-->\n
    <script src="/static/js/header.js" defer></script>\n\n
</head>\n\n\n<div id="chatbox-container">\n <div class="chatbox">\n <div class="chatbox__support">\n <div
                class="chatbox__header">\n <div class="chatbox__image--header">\n <img src="/static/svg/man-avatar.svg"
                        alt="Ezra\'s avatar">\n </div>\n <div class="chatbox__content--header">\n <p
                        class="chatbox__heading--header">Ask a Question</p>\n <p class="chatbox__description--header">
                        Hi, I\'m Ezra! I can answer questions about any blog post on\n this site!</p>\n </div>\n </div>
            \n <div class="chatbox__messages"></div>\n <div class="chatbox__footer">\n <form id="chatbox-submit">\n
                    <input type="hidden" name="csrfmiddlewaretoken"
                        value="KRPI4BQAnHVTK2HkvOp14irxQWGLny1hcZSfyw5a2taoOU8C0mcalBP7qhYtozjN">\n <textarea
                        name="question-text-area" id="question-text-area" placeholder="Write a message..." \n
                        hx-trigger="keyup[key === \'Enter\' && !shiftKey]" hx-post="/answer-with-gpt/" \n
                        hx-include="#question-text-area" hx-target=".chatbox__messages"
                        hx-swap="afterbegin"></textarea>\n <button class="chatbox__send--footer send__button"
                        hx-post="/answer-with-gpt/" \n hx-include="#question-text-area" hx-target=".chatbox__messages"
                        hx-swap="afterbegin" \n aria-label="Send message">Send</button>\n </form>\n </div>\n </div>\n
        <div class="chatbox__button">\n <button aria-label="Toggle chatbox"><img id="chatbox-icon"
                    src="/static/svg/chatbox-icon.svg" \n alt="Chatbox icon" /></button>\n </div>\n </div>\n</div>\n\n

<body>\n <a href="/all-posts/" class="hidden-link">All Posts (Paginated)</a>\n <a id=\'skip-nav\'
        class=\'screenreader-text\' href=\'#main\'>\n Skip to content\n </a>\n <div class="container">\n \n<header>\n
            <nav class="navbar">\n <a class="navbar-brand" href="/">\n <img id="blogthedata-logo"
                        src="/static/logo_transparent_cropped.webp" alt="BlogtheData" />\n Solly\'s Blog\n </a>\n
                <button type="button" class="hamburger">&#9776;</button>\n <div class="navbar-menu">\n <ul
                        class="navbar-nav">\n <li class="nav-item dropdown">\n <a class="nav-link dropdown-toggle"
                                href="#" role="button">\n Categories\n </a>\n <ul class="dropdown-menu"
                                aria-labelledby="header-navbarDropdown">\n \n \n <li>\n <a class="dropdown-item"
                                        href="/category/uncategorized/">Uncategorized</a>\n </li>\n \n \n </ul>\n </li>
                        \n <li class="nav-item">\n <a class="nav-link" href="/portfolio/">Portfolio</a>\n </li>\n <li
                            class="nav-item">\n <a class="nav-link" rel="noopener noreferrer" target="_blank" \n
                                href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda">Contact</a>\n
                        </li>\n <li class="nav-item">\n <a class="nav-link" href="/rss/">RSS</a>\n </li>\n <li
                            class="nav-item">\n <a class="nav-link" href="/status/">Status</a>\n </li>\n \n <li
                            class="nav-item">\n <a class="nav-link" id="nav-register" href="/register/">Register</a>\n
                        </li>\n <li class="nav-item">\n <a class="nav-link" id="nav-login" href="/login/">Login</a>\n
                        </li>\n \n \n <li class="nav-item">\n <a class="nav-link github-icon"
                                href="https://github.com/jsolly/awesome-django-blog" target="_blank" \n
                                rel="noopener noreferrer">\n <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="white" class="bi bi-github" \n viewBox="0 0 16 16">\n
                                    <path\n
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                    \n
                                </svg>\n Star\n </a>\n </li>\n </ul>\n <form class="d-flex search-form" method="GET"
                        action="/search/">\n <input type="hidden" name="csrfmiddlewaretoken"
                            value="KRPI4BQAnHVTK2HkvOp14irxQWGLny1hcZSfyw5a2taoOU8C0mcalBP7qhYtozjN">\n <input
                            type="search" placeholder="Search Posts..." aria-label="Search" name="searched" />\n <button
                            type="submit">\n Search\n </button>\n </form>\n </div>\n </nav>\n</header>\n <div
            class="sidebar">\n <aside>\n <nav role="navigation" aria-label="Sidebar Navigation">\n <div
                        class="list-group">\n <h2>Navigate to a Category</h2>\n <a href="/" id="sidebar-home" \n
                            class="list-group-item ">\n Blog Home\n </a>\n <div role="list"
                            aria-label="Blog categories">\n \n \n <a href="/category/uncategorized/" \n
                                class="list-group-item " \n id="sidebar-uncategorized" role="listitem" \n
                                data-badge="2">Uncategorized</a>\n \n \n </div>\n </div>\n </nav>\n</aside>\n </div>\n
        <div id="content-area" class="post-content">\n \n <main id="main">\n <div>\n <div id="breadcrumbs-container">\n
                        <p id="breadcrumbs">\n \n <a href="/">Home</a>\n \n</p>\n </div>\n </div>\n \n\n<div>\n \n <h1>
                        You searched for \'Test Post 2\'</h1>\n <p>0 results found</p>\n \n\n \n <h2>I didn\'t find any
                        posts matching that search \xf0\x9f\xa4\xb7\xe2\x80\x8d\xe2\x99\x82\xef\xb8\x8f</h2>\n \n</div>
                \n\n\n\n </main>\n <nav id="scroll-to-top-container" aria-label="Scroll to top">\n <a id="scroll-to-top"
                    href="#">\n <img id="scroll-to-top-icon" src="/static/svg/scroll-to-top.svg"
                        alt="Scroll to top of page">\n top</a>\n </nav>\n </div>\n </div>\n <footer>\n <ul
            class="nav-footer">\n <li class="nav-item"><a class="nav-link" href="/">Home</a></li>\n <li
                class="dropdown">\n <a class="dropdown-toggle nav-link" href="#" id="footer-navbarDropdown"
                    role="button" data-bs-toggle="dropdown" \n aria-expanded="false">\n Categories\n </a>\n <ul
                    class="dropdown-menu" id="footer-nav-categories" aria-labelledby="footer-navbarDropdown">\n \n \n
                    <li>\n <a class="dropdown-item" href="/category/uncategorized/">Uncategorized</a>\n </li>\n \n \n
                </ul>\n </li>\n <li class="nav-item"><a class="nav-link" href="/portfolio/">Portfolio</a></li>\n <li
                class="nav-item">\n <a rel="noopener noreferrer" target="_blank" \n
                    href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda"
                    \n class="nav-link">Contact</a>\n </li>\n <li class="nav-item"><a class="nav-link"
                    href="/privacy">Privacy</a></li>\n <li class="nav-item"><a class="nav-link"
                    href="/works-cited">Works Cited</a></li>\n <li class="nav-item"><a class="nav-link"
                    href="/rss/">RSS</a></li>\n <li class="nav-item"><a class="nav-link" href="/status/">Status</a></li>
            \n </ul>\n <p id="credit">Designed & Built by John Solly</p>\n</footer>\n </body>\n\n

</html>