body {
  padding-top: 70px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #555;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #333;
}

h6 {
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color:#0d6efd
}

blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: .5rem 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-left: .25rem solid #ccc;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.bg-steel {
  background-color: #003366;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-brand:hover, div:not(.show)>ul>li:hover{
  animation-name: button-shake;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  text-decoration: none;
  margin-bottom: 0;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

p.article-content {
  white-space: pre-line;
  color: "black";
}

.article-img {
  height: 54px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.account-img {
  height: 104px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.errorlist {
  color: red;
}

div[class~="map"] {
  height: 40vh;
  border-radius: 3px;
}

#inline-attribution {
  font-size: 9px;
}

#draft {
  color: red
}

/*
Style blog post cards on the home page
*/

.article-block {
  display: block;
}

a p {
  color: #555;
}

a nobr {
  color: #555;
}

.article-block:hover {
  background-color: #f8f9fa;
}

video {
  max-width: 100%;
  border-radius: 3px;
}

.spinner {

}

/* @media screen and (max-width: 768px) {
    body { padding-top: 70px; }
}

@media screen and (max-width: 576px) {
  body { padding-top: 70px; }
} */


/* Keyframes */
@keyframes button-shake {
  from {
    transform: rotate(2deg)
  }

  to {
    transform: rotate(-2deg)
  }
}