/* Table of Contents
1. Body, Navbar, & Header
2. Typeography
2. Articles
3. Tables
4. Keyframes & Media Queries
5. Misc Styles
*/


/* =============
   Body, Navbar & Header
============= */

body {
  padding-top: 70px;
  font-family: "Helvetica", "Arial", sans-serif;

}

.bg-steel {
  background-color: #003366;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-brand:hover,
div:not(.show)>ul>li:hover {
  animation-name: button-shake;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

/* =============
   Typeography
============= */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #333;
}

h1 {
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #0d6efd
}

a p,
a nobr,
body {
  color: #555;
}

blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: .5rem 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-left: .25rem solid #ccc;
}


/* =============
   Articles
============= */
.content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  margin-bottom: 0;
}

.article-img {
  height: 54px;
  width: 65px;
  margin-right: 16px;
}

.article-block {
  display: block;
}

.article-block:hover {
  background-color: #f8f9fa;
}

.account-img {
  height: 104px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

#draft {
  color: red
}

/* =============
   Tables
============= */

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* =============
   Keyframes
============= */
@keyframes button-shake {
  from {
    transform: rotate(2deg)
  }

  to {
    transform: rotate(-2deg)
  }
}

/* =============
   Media Queries
============= */
@media (prefers-reduced-motion: reduce) {

  .navbar-brand:hover,
  div:not(.show)>ul>li:hover {
    animation: none
  }
}

/* =============
   Misc Styles
============= */

.errorlist {
  color: red;
}

div.map {
  height: 500px;
  border-radius: 1.5px;
}

#inline-attribution {
  font-size: 9px;
}

video {
  max-width: 100%;
  border-radius: 1.5px;
}

#leafletMap, #openlayersMap, #maplibreMap {
  width: 100%;
  height: 550px;
}