:root {
  --primary-color: white;
  --secondary-color: rgb(18, 18, 18);
  --primary-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondary-box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary-gradient: linear-gradient(93.12deg, #0d6efd 0.52%, #007bff 100%);
  --secondary-gradient: linear-gradient(
    268.91deg,
    #0d6efd -2.14%,
    #007bff 99.69%
  );
}

#chatbot-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.chatbox {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 123456;
}

/* CONTENT IS CLOSED */
.chatbox__support {
  display: none;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
}

/* CONTENT IS OPEN */
.chatbox--active {
  display: flex;
  transform: translateY(-40px);
  z-index: 123456;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
}

.send__button:hover {
  background-color: transparent;
  color: black;
}

/* MESSAGES */
textarea {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  resize: none;
}

textarea::placeholder {
  color: var(--secondary-color);
}

.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
  color: var(--secondary-color);
}

.messages__item--user {
  margin-left: auto;
}

.messages__item--bot {
  margin-right: auto;
}

.chatbox__support {
  background: var(--primary-color);
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primary-gradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primary-box-shadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: 0.9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #e6e6e8;
  padding: 8px 12px;
  max-width: 70%;
}

.messages__item--bot {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
}

.messages__item--user {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #0d6efd;
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--secondary-gradient);
  box-shadow: var(--secondary-box-shadow);
  margin-top: 20px;
}

.chatbox__footer textarea {
  width: 80%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#chatbox-submit {
  display: inline-flex;
}

#question-text-area {
  margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgba(255, 255, 255, 0.75);
  }
  .messages__item--bot {
    background: #222125;
    color: var(--secondary-color);
  }
}

@media print {
  #chatbox-container {
    display: none !important;
  }
}
