/* Table of Contents
1. Global Styles
2. Header + Navs
3. Typeography
4. Cards
5. Portfolio Page
6. Misc Styles
7. Footer
7. Keyframes
8. Media Queries 
   8.1 Responsive Styles
*/

/* =============
Global Styles
============= */
* {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-display: optional;
}

:root {
  --primary-color: white;
  --secondary-color: rgb(18, 18, 18);
  --secondary-color-rgb: 18, 18, 18;
  --hover-background-color: hsl(0, 0%, 40%);
  --a11-red: #990000;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: auto !important;
}

#content-area {
  animation: fade-in 0.8s;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
}

body,
.card,
.form-control,
.list-group-item {
  background-color: var(--primary-color);
}

/* =============
   Header + Navs
============= */
/* Logo color is #0b3b8e */

.navbar-brand img {
  width: 26px;
  height: 30px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.list-group-item {
  border: none;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* =============
   Typeography
============= */

a[href^="http"]::after {
  content: "↗";
  margin-left: 0.1rem;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.screenreader-text:focus {
  color: var(--secondary-color);
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.errorlist {
  color: var(--a11-red);
}

a.hidden-link {
  position: absolute;
  left: -9999px;
}

:is(h1, h2, h3) {
  line-height: 1.1;
}

:is(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    .list-group-item,
    svg,
    table,
    p,
    blockquote,
    li,

  ) {
  color: var(--secondary-color);
}

hr {
  border-color: rgb(224, 224, 224);
}

.post-content > p:first-of-type::first-letter {
  font-size: 2rem;
  font-weight: 700;
}

.caption {
  font-size: 0.6rem;
}

.no-white-space {
  white-space: nowrap;
}

h1 {
  letter-spacing: 2px;
}

:is(blockquote, h1, h2, h3, h4, h5, h6) p:not(#footer) {
  max-width: 70ch;
}

a {
  text-decoration: none;
  position: relative;
}

.card-body {
  color: var(--secondary-color);
}

a:not(.btn, #scroll-to-top)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

button a,
button a:hover {
  color: inherit;
}

/* =============
   Cards
============= */
.about-me-image {
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 800px;
}

.social-links {
  font-size: 0.875rem;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

.social-links li {
  display: inline;
  margin-right: 0.5rem;
}

.social-links li::after {
  content: "|";
  margin-left: 0.5rem;
}

.social-links li:last-child::after {
  content: "";
}

.img-rounded {
  border-radius: 0.1rem;
}

#draft {
  color: var(--a11-red);
}

.card-title {
  margin-block-end: 0px;
}

.card {
  border: 1px solid rgba(var(--secondary-color-rgb), 0.1);
  transition: background-color 0.6s 0s;
}

/* =============
   Portfolio Page
============= */
.testimonial-quote::before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0;
  position: relative;
  top: 15px;
  color: #c3ceff;
  font-size: 3rem;
  font-family: georgia, serif;
}

.testimonial-quote::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0;
  position: relative;
  top: 18px;
  color: #c3ceff;
  font-size: 3rem;
  font-family: georgia, serif;
}

.bio-image {
  max-width: 50%;
}

#portfolioHello {
  font-size: 3.5rem;
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2px;
}

#accordion-wrapper {
  padding: 1rem;
  border-radius: 0.25rem;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--secondary-color);
}

/* =============
   Misc Styles
============= */
input[type="search"] {
  border: none;
}

video {
  max-width: 100%;
  border-radius: 0.25rem;
}

#breadcrumbs {
  color: #6c757d;
}

img {
  max-width: 100%;
}
#post-detail-meta-img {
  height: 30vh;
}

/* There is a 500px inline style inside the map html that is being placed into an iframe */
:is(#leafletMap, #openlayersMap, #maplibreMap, #mapboxMap) {
  width: 100%;
  height: 550px;
}

#scroll-to-top {
  color: var(--a11-red);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  font-size: 2rem;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
}

::-webkit-scrollbar-thumb:vertical {
  background: var(--secondary-color);
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background-color: #0d6efd;
}

/* =============
   Footer
============= */
.ft {
  color: var(--primary-color);
}

footer {
  position: relative;
  display: grid;
}

footer::before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

/* =============
   Keyframes
============= */
@keyframes button-shake {
  from {
    rotate: 2deg;
  }

  to {
    rotate: -2deg;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* =============
   Media Queries
============= */
@media (prefers-reduced-motion: reduce) {
  nav a:hover {
    animation: none;
  }
}

@media (hover: hover) {
  .navbar-nav a:hover {
    animation: button-shake 0.3s linear;
  }

  a:not(#scroll-to-top):hover::before {
    transform: scaleX(1);
  }

  #accordion-wrapper:hover {
    box-shadow: 0 1rem 3rem var(--secondary-color);
    scale: 1.005;
  }

  .card:not(#aboutMe):hover {
    background-color: var(--hover-background-color);
    box-shadow: 0 1rem 3rem var(--secondary-color);
    scale: 1.005;
  }

  tr:hover {
    background-color: #ddd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgba(255, 255, 255, 0.75);
    --secondary-color-rgb: 255, 255, 255;
    --hover-background-color: hsl(0, 0%, 100%, 0.05);
  }
  a {
    color: #6c9ff2;
  }
  ::-webkit-scrollbar-track {
    background-color: #6c9ff2;
  }
  header {
    background-color: white;
  }
  hr {
    border-color: rgb(128, 128, 128);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .testimonial-quote::before {
    color: hsla(229, 100%, 88%, 0.6);
  }

  .testimonial-quote::after {
    color: hsla(229, 100%, 88%, 0.6);
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0d6dfd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0d6dfd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }

  .form-control {
    color: var(--secondary-color);
  }
}

@media print {
  header {
    display: none !important;
  }
  nav {
    display: none !important;
  }
  .header-link {
    display: none !important;
  }
  #scroll-to-top-container {
    display: none !important;
  }
  #print-container {
    display: none !important;
  }
  .btn {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  #post-detail-meta-img {
    display: none !important;
  }
}

/* Responsive Styles*/
@media (max-width: 992px) {
  img.img-responsive {
    width: 90%;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .meta-img-container img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}

.card-img-top {
  max-width: 100%;
  height: auto;
}
