/* Table of Contents
- Global Styles
- Layout
- Header + Navs
- Sidebar
- Cards
- Buttons
- Forms
- Typography
- Chatbot
- Misc
- Keyframes
- Media Queries
*/

/* =============
Global Styles
============= */
* {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-display: optional;
}

:root {
  --primary-color: rgb(240, 240, 240);
  --muted-white: rgb(240, 240, 240);
  --secondary-color: rgb(18, 18, 18);
  --secondary-color-rgb: 18, 18, 18;
  --post-card-hover-background-color: hsl(0, 0%, 90%);
  --border-color: #777777;
  --a11-red: #990000;
  --action-color: #333333; /* Slightly darker than secondary color */
  --link-color: var(--primary-blue);
  --footer-color: rgb(50, 50, 50);
  --background-hover-color: #f7f7f7;
  --primary-blue: #0063f0;
  --primary-blue-hover: #0050d1;
  --dark-badge-background-color: rgb(33, 37, 41);

  /* Chatbot colors */
  --primary-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondary-box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary-gradient: linear-gradient(93.12deg, #0d6efd 0.52%, #007bff 100%);
  --secondary-gradient: linear-gradient(
    268.91deg,
    #0d6efd -2.14%,
    #007bff 99.69%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 1.3rem;
}

body,
.post-card,
.list-group-item {
  background-color: var(--primary-color);
}
/* =============
   Layout
============= */
.container {
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 1fr 0.25fr;
}

header {
  grid-column: 1 / 5;
  grid-row: 1;
}

.sidebar {
  grid-column: 2;
  grid-row: 2;
  margin: 20px;
}

.post-content {
  grid-column: 3;
  grid-row: 2;
  margin: 20px;
}

footer {
  grid-column: 1 / 5;
  grid-row: 4;
}

.sml-margin-top-bottom {
  margin: 0.5rem 0;
}

.sml-margin-left-right {
  margin: 0 0.5rem;
}

.sml-margin-bottom {
  margin-bottom: 0.5rem;
}


/* Status Page */

/* =============
   Header + Navs
============= */
/* Logo color is #0b3b8e */
#blogthedata-logo {
  height: 40px;
  width: 34.4px;
}
/* Navbar */
.navbar-menu.show-menu .navbar-nav {
  padding-left: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
}

.hamburger:hover {
  background-color: transparent;
  color: var(--link-color);
}

.navbar-menu.show-menu {
  display: flex;
  z-index: 1;
}

.navbar {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.navbar-brand img {
  height: 40px;
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.nav-item {
  margin: 0 15px;
  display: flex;
}

.nav-link {
  color: var(--primary-color);
  flex-grow: 1;
  width: 100%;
}

/* Dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--muted-white);
  min-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 5px 0;
  z-index: 1;
  list-style: none;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown:focus-within .dropdown-menu {
  display: block;
}

.nav-link.dropdown-toggle:after {
  content: "";
  display: inline-block;
  margin-left: 0.2rem;
  vertical-align: 0.2rem;
  border-top: 4px solid var(--primary-color);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* Search form */
.search-form {
  display: flex;
  margin-left: 15px;
}

/* Github Stars */
.github-icon {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.github-icon svg {
  margin-right: 5px;
}
.github-icon::after {
  content: none !important;
}

/* =============
   Sidebar
============= */
aside {
  padding: 0 15px;
}

.list-group {
  margin-bottom: 0;
}

.list-group-item {
  border: none;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}

.list-group-item:hover {
  background-color: var(--background-hover-color);
}

.list-group-item.active {
  color: rgb(240, 240, 240);
  background-color: var(--primary-blue);
}

.list-group-item span {
  font-size: 0.8rem;
}

.list-group-item-action {
  width: 100%;
  color: var(--link-color);
  text-align: inherit;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
  color: var(--link-color);
  background-color: var(--background-hover-color);
}

.list-group-item-action.active {
  color: var(--link-color);
  background-color: var(--background-hover-color);
}

.list-group-item[data-badge]::after {
  content: attr(data-badge);
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: rgb(240, 240, 240);
  background-color: var(--dark-badge-background-color);
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

/* =============
   Footer
============= */

#credit {
  font-size: 0.8rem;
  color: var(--primary-color);
}

footer {
  padding: 20px 0;
  background-color: var(--secondary-color);
}

footer .nav-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

footer .nav-item {
  margin-bottom: 10px;
}

#credit {
  text-align: center;
}

footer .dropdown-menu {
  position: absolute;
  top: auto;
  bottom: 100%;
}

/* =============
   Cards
============= */

/* Post Cards */
.post-card {
  border: 1px solid rgba(var(--secondary-color-rgb), 0.1);
  transition: background-color 0.6s 0s;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.post-card-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.post-card-meta-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0;
}

.post-card-img {
  width: 100%;
  height: auto;
}

.post-card-content {
  padding: 1rem;
}

.post-header {
  margin-bottom: 0.5rem;
}

.post-title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.post-draft {
  font-weight: normal;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.post-date {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.post-readtime {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.post-readtime-icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* About Me Card */
.about-me-image {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.social-links {
  font-size: 0.875rem;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

.social-links li {
  display: inline;
  margin-right: 0.5rem;
}

.social-links li::after {
  content: "|";
  margin-left: 0.5rem;
}

.social-links li:last-child::after {
  content: "";
}

/* =============
   Buttons
============= */
/* Load More Posts Button */
.load-more {
  text-align: center;
  margin-bottom: 5rem;
}

.load-more__btn {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  transition: background-color 0.3s, color 0.3s;
}

.load-more__btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

/* Edit and Delete Buttons */
.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.btn-red {
  color: var(--muted-white);
  background-color: #dc3545;
  border: 1px solid #dc3545;
}
.btn-red:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.btn-dark {
  color: var(--muted-white);
  background-color: #6c757d;
  border: 1px solid #6c757d;
}
.btn-dark:hover {
  background-color: #5c636a;
  border-color: #5c636a;
}

.btn-dark-outline {
  color: #000;
  background-color: var(--muted-white);
  border: 1px solid #6c757d;
}

.btn-dark-outline:hover {
  background-color: #000;
  color: var(--muted-white);
}

/* print button */
#print-icon {
  margin-right: 0.5rem;
}

/* Post Submit Button */
.post-submit-button {
  display: inline-block;
  border: 1px solid #17a2b8;
  color: #17a2b8;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.post-submit-button:hover {
  color: var(--muted-white);
  background-color: #17a2b8;
  border-color: #17a2b8;
  cursor: pointer;
}

/* Social Share Buttons */
.social-share-container {
  max-width: 100%;
  overflow-x: auto;
}

.social-share {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  list-style: none;
}

.social-share li {
  margin: 0 1rem;
}

.resp-sharing-button__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--muted-white);
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s ease-out;
}

.resp-sharing-button__icon {
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--muted-white);
  transition: fill 0.25s ease-out;
}

.resp-sharing-button__link.twitter {
  background-color: #55acee;
}

.resp-sharing-button__link.reddit {
  background-color: #5f99cf;
}

.resp-sharing-button__link.linkedin {
  background-color: #0077b5;
}

.resp-sharing-button__link:hover {
  background-color: #0069d9;
}

.resp-sharing-button__link.linkedin:hover .resp-sharing-button__icon {
  fill: #0077b5;
}

.social-share-btn {
  width: 24px;
  height: 24px;
}

/* =============
   Forms
============= */
input,
select,
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

input[type="search"] {
    margin-right: 0.5rem;
    width: 200px;
  }

input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

button {
  display: inline-block;
  background-color: var(--primary-blue);
  color: var(--muted-white);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-blue-hover);
}

label[for="id_draft"] {
  display: inline-block;
  margin-right: 10px;
}

#id_draft {
  -webkit-appearance: none; /* Remove default checkbox styling for Safari/Chrome */
  -moz-appearance: none; /* Remove default checkbox styling for Firefox */
  appearance: none; /* Remove default checkbox styling */
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  vertical-align: middle;
  position: relative;
}

#id_draft:checked {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

/* =============
   Typeography
============= */

.category-title {
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.category-description {
  font-weight: 300;
  margin-top: 0;
}

a[href^="http"]::after {
  content: "↗";
  margin-left: 0.1rem;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.screenreader-text:focus {
  color: var(--secondary-color);
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.errorlist {
  color: var(--a11-red);
}

a.hidden-link {
  position: absolute;
  left: -9999px;
}

:is(h1, h2, h3) {
  line-height: 1.1;
}
:is(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    .list-group-item,
    svg,
    table,
    p,
    blockquote,
    li,
    legend,
    small,
    .word-count,
    label,
  ) {
  color: var(--secondary-color);
}

hr {
  border-color: #e0e0e0;
  opacity: 0.25;
}

.post-content > p:first-of-type::first-letter {
  font-size: 2rem;
  font-weight: 700;
}

.caption {
  font-size: 0.6rem;
}

.no-white-space {
  white-space: nowrap;
}

h1 {
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  position: relative;
  color: var(--link-color);
}

.card-body {
  color: var(--secondary-color);
}

a:not(.btn, .navbar-brand, #scroll-to-top)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--link-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: 1;
}

button a,
button a:hover {
  color: inherit;
}

/* =============
   Chatbot
============= */

#chatbox-icon {
  width: 35px;
  height: 35px;
}
#chatbot-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.chatbox {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 123456;
}

/* CONTENT IS CLOSED */
.chatbox__support {
  display: none;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
}

/* CONTENT IS OPEN */
.chatbox--active {
  display: flex;
  transform: translateY(-40px);
  z-index: 123456;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
}

.send__button:hover {
  background-color: transparent;
  color: black;
}

/* MESSAGES */
textarea {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  resize: none;
}

textarea::placeholder {
  color: var(--secondary-color);
}

.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
  color: var(--secondary-color);
}

.messages__item--user {
  margin-left: auto;
}

.messages__item--bot {
  margin-right: auto;
}

.chatbox__support {
  background: var(--primary-color);
  height: 500px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primary-gradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primary-box-shadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: 0.9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #e6e6e8;
  padding: 8px 12px;
  max-width: 70%;
}

.messages__item--bot {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
}

.messages__item--user {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #0d6efd;
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--secondary-gradient);
  box-shadow: var(--secondary-box-shadow);
  margin-top: 20px;
}

.chatbox__footer textarea {
  width: 80%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#chatbox-submit {
  display: inline-flex;
}

#question-text-area {
  margin-right: 10px;
}

/* =============
   Status Page
============= */
.title {
  grid-area: title;
  text-align: center;
}

.status-section {
  grid-area: status-section;
}

.postgres-metrics {
  grid-area: postgres-metrics;
}

.system-metrics {
  grid-area: system-metrics;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

/* =============
   Misc Styles
============= */

/* Override Ckeditor */
.ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
  flex-wrap: wrap !important;
}

iframe {
  max-width: 100%;
}

.post-text {
  width: 100%;
  overflow-x: hidden;
}

.post-text pre,
.post-text code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.meta-img-container {
  display: flex;
  height: 30vh;
}

#post-detail-meta-img {
  max-width: 100%;
  max-height: 100%;
}

#draft {
  color: var(--a11-red);
}

video {
  max-width: 100%;
  border-radius: 0.25rem;
}

#breadcrumbs {
  color: #6c757d;
  padding: 0.5rem 0;
}

img {
  max-width: 100%;
}

#scroll-to-top {
  display: flex;
  align-items: center;
  color: var(--a11-red);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 2rem;
}

#scroll-to-top-icon {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
}

::-webkit-scrollbar-thumb:vertical {
  background: var(--secondary-color);
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background-color: var(--link-color);
}

/* p {
  max-width: 70ch;
} */

/* =============
   Keyframes
============= */
@keyframes button-shake {
  from {
    rotate: 2deg;
  }

  to {
    rotate: -2deg;
  }
}

/* =============
   Media Queries
============= */
@media (prefers-reduced-motion: reduce) {
  .navbar-nav > li:hover:not(.dropdown) {
    animation: none;
  }
  .dropdown-item:hover {
    animation: none;
  }
}

@media (hover: hover) {
  .dropdown-item:hover {
    animation: button-shake 0.3s linear;
  }
  a:not(#scroll-to-top):hover::before {
    transform: scaleX(1);
  }

  .post-card:not(#aboutMe):hover {
    background-color: var(--post-card-hover-background-color);
    scale: 1.005;
  }

  tr:hover {
    background-color: #ddd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgb(240, 240, 240);
    --secondary-color-rgb: 240, 240, 240;
    --post-card-hover-background-color: hsl(0, 0%, 100%, 0.05);
    --background-hover-color: hsl(0, 0%, 100%, 0.05);
    --link-color: #6c9ff2;
  }

  .github-icon svg {
    fill: black;
  }

  header {
    background-color: var(--secondary-color);
  }

  footer {
    background-color: var(--secondary-color);
  }
  hr {
    border-color: rgb(128, 128, 128);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
  .testimonial-quote::before {
    color: hsla(229, 100%, 88%, 0.6);
  }

  .testimonial-quote::after {
    color: hsla(229, 100%, 88%, 0.6);
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0d6dfd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0d6dfd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  /* Chatbot */
  .messages__item--bot {
    background: #222125;
    color: var(--secondary-color);
  }
}

@media print {
  header {
    display: none !important;
  }
  nav {
    display: none !important;
  }
  .header-link {
    display: none !important;
  }
  #scroll-to-top-container {
    display: none !important;
  }
  #print-container {
    display: none !important;
  }
  .btn {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  #post-detail-meta-img {
    display: none !important;
  }
  #chatbox-container {
    display: none !important;
  }
}

/* Responsive Styles*/
@media (max-width: 1239px) {
  /* 
  Changes the layout of the container to a single column grid
  with the header, sidebar, post-content, and footer taking up
  one row each
  */
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  header {
    grid-row: 1;
    grid-column: 1;
  }

  .sidebar {
    grid-row: 2;
    grid-column: 1;
  }

  .post-content {
    grid-row: 3;
    grid-column: 1;
  }

  .footer {
    grid-row: 4;
    grid-column: 1;
  }

  .post-card-row {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .post-card-meta-img-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  .post-card-img {
    max-width: 100%;
  }

  .post-card-meta-img-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* Navbar */
  .navbar-menu.show-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-menu {
    display: none;
    background-color: var(--secondary-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
    margin: 0;
    padding-left: 0;
  }
  .nav-item,
  .dropdown {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  /* Post Detail */
  .social-share {
    flex-direction: column;
    align-items: center;
  }

  .social-share li {
    margin: 0.5rem 0;
  }
  
}

@media (min-width: 800px) and (max-width: 1239px) {
  .post-card-row {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}


@media screen and (min-width: 1240px) {
  /* 
  Changes the layout of the container to a 4 column grid.
  The Sidebar and post-content occupy the middle two columns,
  and the header and footer now span the entire width of the
  container. The first and last columns are for padding.
  */
  .container {
    grid-template-columns: 0.25fr 1.25fr 2.25fr 0.25fr;
  }
  header {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  .sidebar {
    grid-column: 2;
    grid-row: 2;
  }
  .post-content {
    grid-column: 3;
    grid-row: 2;
  }
  footer {
    grid-column: 1 / 5;
    grid-row: 3;
  }
}

@media screen and (min-width: 1700px) {
  .container {
    grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
  }
  .sidebar {
    grid-column: 2;
  }
  .post-content {
    grid-column: 3;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    grid-template-columns: 0.8fr 0.9fr 1.5fr 0.8fr;
  }
  .sidebar {
    grid-column: 2;
  }
  .post-content {
    grid-column: 3;
  }
}

@media screen and (min-width: 2500px) {
  .container {
    grid-template-columns: 1.1fr 0.6fr 1.2fr 1.1fr;
  }
  .sidebar {
    grid-column: 2;
  }
  .post-content {
    grid-column: 3;
  }
}

@media (min-width: 992px) {
  .navbar-nav > li:hover:not(.dropdown) {
    animation: button-shake 0.3s linear;
  }
}

.comment {
  list-style-type: none;
}
.content-section {
  margin-bottom: 30px;
}