:root {
  --primary-color: #ffffff;
  --secondary-color: #121212;
  --header-background-color: #f7f7f7;
  --link-color: var(--bootstrap-primary-color);
  --secondary-color-rgb: 18, 18, 18;
}

/* General Layout */
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.column {
  padding: 0 1.5rem;
  position: relative;
  width: 100%;
  min-height: 1px;
}

/* Hello World + Resume */
#portfolioHello {
  font-size: 3.5rem;
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.resume-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5rem;
}

.resume-btn {
  display: inline-block;
  border: 1px solid #007bff;
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.resume-btn:hover {
  background-color: #007bff;
  color: #fff;
}

/* Solly Bio */
.bio-image {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-right: 1rem;
  float: left;
}

.accordion-header {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.accordion-button {
  background-color: transparent;
  padding: 0;
  border: 1px solid rgba(var(--secondary-color-rgb), 0.1);
  font-size: 1.2em;
  outline: none;
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.accordion-button:hover {
  background-color: var(--header-background-color);
  color: var(--link-color);
}

.accordion-icon {
  font-size: 1em;
  transition: transform 0.3s ease;
  color: var(--secondary-color);
  flex-shrink: 0;
  margin-right: 1rem;
}

.accordion-title {
  flex-grow: 1;
  margin-right: 10px;
}

.accordion-collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.accordion-body {
  padding: 1em;
}

#accordion-expand-collapse-arrow {
  width: 20px;
  height: 20px;
}

/* Expanded Accordion Styles */
.expanded {
  height: auto;
}

.accordion-button[aria-expanded="true"] .accordion-icon img {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}
.accordion-button[aria-expanded="false"] .accordion-icon img {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

/* Carousel */

.testimonial-quote::before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0;
  position: relative;
  top: 15px;
  color: #c3ceff;
  font-size: 3rem;
  font-family: georgia, serif;
}

.testimonial-quote::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0;
  position: relative;
  top: 18px;
  color: #c3ceff;
  font-size: 3rem;
  font-family: georgia, serif;
}

.testimonial-carousel {
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: #007bff;
}

.avatar-img {
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1rem;
  width: 150px;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-name {
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-weight: 300;
}

.carousel-position {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.carousel-info {
  line-height: 1;
  margin: 0;
}

.carousel-review-link {
  font-weight: 600;
}

.carousel-wrapper {
  position: relative;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  color: var(--secondary-color);
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: transparent;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-item-content {
  margin-bottom: 1.5rem;
}

/* Testimonials */
.testimonial-title {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.testimonial-quote {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0rem;
}
.carousel-review-link {
  margin-bottom: 0rem;
}


/* Contact me section */
#Contact-Me {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#contact-me-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#Contact-Me p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#Contact-Me .text-center {
  text-align: center;
}

#Contact-Me .btn {
  display: inline-block;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  text-align: center;
  vertical-align: middle;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  transition: background-color 0.3s, color 0.3s;
}

#Contact-Me .btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Pagespeed Insights */

.page-speed-insights-section {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.figcaption-text {
  text-align: center;
  padding-bottom: 1rem;
}


/* Replace the following styles with Flexbox or CSS Grid according to your layout needs */
@media (min-width: 992px) {
  .resume-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-background-color: hsl(0, 0%, 100%, 0.05);
    --link-color: #6c9ff2;
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgba(255, 255, 255, 0.75);
  }
}
