{% extends "blog/base.html" %}
{% block content %}
<section id="privacy-policy">
  <h1>Privacy Policy</h1>
  <p>Thank you for visiting my personal website. This privacy policy explains how I protect your privacy while you use
    my website.</p>

  <h2>Information collection</h2>
  <p>I do not collect any user information, either directly or indirectly.</p>

  <h2>Cookies</h2>
  <p>I do not use any cookies on my website.</p>

  <h2>JavaScript and CSS</h2>
  <p>All JavaScript and CSS is self-hosted, and I have implemented a <a
      href="https:blogthedata.com/post/how-to-implement-content-security-policy-django/">content security policy</a>
    to ensure unsafe scripts cannot be executed</p>

  <h2>Third-party links</h2>
  <p>My website may include links to third-party websites. I am not responsible for the privacy practices of these
    websites. However, I make every effort to ensure that all third-party links include the
    <code>rel="noopener noreferrer"</code> attributes. This helps protect your privacy by preventing the third-party
    website from accessing any information about you or your browsing session.
  </p>

  <h2>Children's privacy</h2>
  <p>My website is not intended for children.</p>

  <h2>Updates</h2>
  <p>I reserve the right to make changes to this privacy policy. If I make any material changes, I will notify users by
    updating the policy here</p>

  <h2>Contact information</h2>
  <p>If you have any questions or concerns about my privacy policy, please <a
      href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda">contact
      me</a>.
  </p>
</section>
{% endblock content %}