{% extends "blog/parts/base.html" %}{% block content %}
<h1>Login</h1>
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button type="submit" class="sml-margin-top-bottom" id="main-login-button">
        Login
      </button>
      <small class="sml-margin-left-right">
        <a href="{% url 'password_reset' %}"> Forgot Password?</a>
      </small>
    </div>
  </form>
  <hr>
  <div>
    <small>
      Need An Account?
      <a href="{% url 'register' %}"> Sign Up Now</a>
    </small>
  </div>
</div>
{% endblock content %}