{% extends "blog/parts/base.html" %} {% block title %} Login {% endblock title %} {% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="boarder-bottom mb-4">Login</legend>
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" id="main-login-button">
        Login
      </button>
      <small class="text-muted ml-2">
        <a href="{% url 'password_reset' %}"> Forgot Password?</a>
      </small>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Need An Account?
      <a class="ml-2" href="{% url 'register' %}"> Sign Up Now</a>
    </small>
  </div>
</div>
{% endblock content %}
