{% extends "blog/parts/base.html" %}
{% block head %}
<meta name="description" content="Need to reset your password? Our simple process will get you back into your account quickly. Follow the prompts to reset your password and regain access.">
<meta property="og:title" content="Reset Password">
<meta property="og:description" content="Need to reset your password? Our simple process will get you back into your account quickly. Follow the prompts to reset your password and regain access.">
{% endblock head %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <h1 class="boarder-bottom mb-4">Reset Password</h1>
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">
        Request Password Reset
      </button>
    </div>
  </form>
</div>
{% endblock content %}