{% extends "blog/parts/base.html" %}
{% block meta %}
<meta name="description" content="Reset your password on blogthedata.com">
{% endblock meta %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <h1 class="boarder-bottom mb-4">Reset Password</h1>
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">
        Request Password Reset
      </button>
    </div>
  </form>
</div>
{% endblock content %}