{% extends "blog/parts/base.html" %}
{% block meta %}
<meta name="description" content="Need to reset your password? No problem! Our simple and secure password reset process will help you get back into your account in no time. Just follow the prompts on this page to reset your password and regain access to your account.">
{% endblock meta %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <h1 class="boarder-bottom mb-4">Reset Password</h1>
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">
        Request Password Reset
      </button>
    </div>
  </form>
</div>
{% endblock content %}