{% extends "blog/parts/base.html" %}
{% block title %} Register! {% endblock title %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="boarder-bottom mb-4">Join Today (DM me <a target="_blank" href=https://twitter.com/effortlessgis>@effortlessgis</a> for the secret password!)</legend>
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" id="sign-up-button" type="submit">Sign up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already Have An Account?
      <a class="ml-2" href="{% url 'login' %}"> Sign In</a>
    </small>
  </div>
</div>
{% endblock content %}