{% load static %} {% load sri %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>


  <!-- Leaflet Plugins -->
  <!-- ArcPolyLine-->
  {% sri_static 'leaflet_plugins/leaflet-arc.min.js' %}
  {% sri_static 'leaflet_plugins/leaflet.textpath.js' %}

  <!-- Marker Cluster-->
  {% sri_static 'leaflet_plugins/MarkerCluster.Default.css' %}
  {% sri_static 'leaflet_plugins/MarkerCluster.css' %}
  {% sri_static 'leaflet_plugins/leaflet.markercluster.js' %}
</head>

<body>
 {% include "siteanalytics/parts/site_traffic_map.html" %} 
</body>

</html>