/* Table of Contents
1. Body, Navbar, & Header
2. Typeography
3. Cards
4. Tables
5. Keyframes & Media Queries
6. Portfolio Page
7. Misc Styles
*/


/* =============
   Body, Navbar & Header
============= */
 /* Logo color is #0b3b8e */
:root {
  --main-bg-color: hsl(218, 50%, 30%); /* #264273 */
  --second-color: hsl(178, 41%, 37%); /* #388582 */
  --third-color: hsl(0, 86%, 30%); /* #8e0b0b */
  --text-color: hsl(0, 0%, 33%); /* #555 */
  --bootstrap-primary: hsl(216, 98%, 52%);
  --bootstrap-hover: #f8f9fa;
}

html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-color);
}


body {
  margin-top: 90px;
  font-family: "Helvetica", "Arial", sans-serif;

}

.bg-steel {
  background-color: var(--main-bg-color);
}


.site-header .navbar-nav .nav-link, 
#solly-nav-brand  {
  color: white;
}

.nav-item-top {
  margin: auto 1em auto ;
}

#solly-nav-brand {
  margin-right: 1em;
}

/* =============
   Typeography
============= */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
color: black;
}

h1 {
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  position: relative;
}

a * {
  color: black;
}

a:not(.btn, #scroll-to-top, #mailchimp-logo-link)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--bootstrap-primary);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}


button a,
button a:hover {
  color: inherit;
}


blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: .5rem 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-left: .25rem solid #ccc;
}

/* =============
   Cards
============= */

.showme {
  color: white;
  fill: white;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.2s;
  transition-delay: 0s;
  letter-spacing: 2px;
}

#draft {
  color: red
}

.card-title {
  margin-block-end: 0px;
}

.card {
  border: inset var(--main-bg-color);
}

/* =============
   Tables
============= */

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* =============
   Keyframes
============= */
@keyframes button-shake {
  from {
    transform: rotate(2deg)
  }

  to {
    transform: rotate(-2deg)
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* =============
   Media Queries
============= */
@media (prefers-reduced-motion: reduce) {

  .navbar-brand:hover,
  div:not(.show)>ul>li:hover {
    animation: none
  }
}

@media (hover: hover) {

  nav a:hover {
    animation: button-shake 0.3s linear;
  }

  a:not(#scroll-to-top):hover::before {
    transform: scaleX(1);
  }

  .showhim:hover .showme {
    opacity: 1;
  }
  
  #accordion-wrapper:hover {
    background-color: #f8f9fa;
    box-shadow: 0 1rem 3rem hsla(218, 100%, 50%, 0.4) !important;
    transform: scale(1.005);
  }
  
  
  .card:not(#aboutMe):hover {
    border: outset blue;
    background-color: hsl(0, 0%, 26%);
    box-shadow: 0 1rem 3rem hsla(218, 100%, 50%, 0.4) !important;
    transform: scale(1.005);
  }
  


}


/* =============
   Portfolio Page
============= */

.testimonial-quote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0px;
  position: relative;
  top: 15px;
  color: #C3CEFF;
  font-size: 3em;
}

.testimonial-quote:after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0px;
  position: relative;
  top: 18px;
  color: #C3CEFF;
  font-size: 3em;
}

.bio-image {
  max-width: 50%;
}

#portfolioHello {
  font-size: 2.8em;
}

/* =============
   Misc Styles
============= */

.errorlist {
  color: red;
}

video {
  max-width: 100%;
  border-radius: .25rem;
}
/* There is a 500px inline style inside the map html that is being placed into an iframe */
#leafletMap,
#openlayersMap,
#maplibreMap,
#mapboxMap {
  width: 100%;
  height: 550px;
}

#content-area {
  animation: fade-in 0.8s;
}

img {
  max-width: 100%;
}

.list-group-item.active {
  background-color: var(--main-bg-color);
}

#scroll-to-top {
  color: var(--text-color);
  position: fixed;
  bottom: 20px;
  right: 20px;
}

