body {
  padding-top: 70px;
}

a {
  text-decoration: none;
}

blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: .5rem 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-left: .25rem solid #ccc;
}

iframe {
  width: 100%;
  height: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* @media screen and (max-width: 768px) {
    body { padding-top: 70px; }
}

@media screen and (max-width: 576px) {
  body { padding-top: 70px; }
} */
.bg-steel {
  background-color: #003366;
}

.navbar {
  margin-bottom: 10px;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  text-decoration: none;
  margin-bottom: 0;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 54px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.account-img {
  height: 104px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.card-img {
  height: "83";
  width: "100";
}


.errorlist {
  color: red;
}

.map {
  height: 400px;
  width: 100%;
}

#inline-attribution {
  font-size: 9px;
}

#draft {
  color: red;
}