/* Table of Contents
1. Body, Navbar, & Header
2. Typeography
3. Cards
4. Tables
5. Keyframes & Media Queries
6. Portfolio Page
7. Misc Styles
*/


/* =============
   Body, Navbar & Header
============= */
body {
  color: #555;
}


body {
  padding-top: 70px;
  font-family: "Helvetica", "Arial", sans-serif;

}

.bg-steel {
  background-color: #003366;
}


nav a:hover {
  animation: button-shake 0.3s linear;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

/* =============
   Typeography
============= */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #333;
}

h1 {
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #0d6efd
}

button a,
button a:hover {
  color: inherit;
}


blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: .5rem 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-left: .25rem solid #ccc;
}

/* =============
   Cards
============= */

#accordion-wrapper:hover,
.card:hover {
  background-color: #f8f9fa;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  transform: scale(1.005);
}

#draft {
  color: red
}

/*Used in post-detail view*/
.article-img {
  height: 54px;
  width: 65px;
  margin-right: 16px;
}

.card-title {
  margin-block-end: 0px;
}

/* =============
   Tables
============= */

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* =============
   Keyframes
============= */
@keyframes button-shake {
  from {
    transform: rotate(2deg)
  }

  to {
    transform: rotate(-2deg)
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* =============
   Media Queries
============= */
@media (prefers-reduced-motion: reduce) {

  .navbar-brand:hover,
  div:not(.show)>ul>li:hover {
    animation: none
  }
}


/* =============
   Portfolio Page
============= */

.testimonial-quote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0px;
  position: relative;
  top: 15px;
  color: #ccc;
  font-size: 3em;
}

.testimonial-quote:after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 0px;
  position: relative;
  top: 18px;
  color: #ccc;
  font-size: 3em;
}

/* =============
   Misc Styles
============= */

.errorlist {
  color: red;
}

div.map {
  height: 500px;
  border-radius: 1.5px;
}

#inline-attribution {
  font-size: 9px;
}

video {
  max-width: 100%;
  border-radius: 1.5px;
}

#leafletMap,
#openlayersMap,
#maplibreMap,
#mapboxMap {
  width: 100%;
  height: 550px;
}

#content-area {
  animation: fade-in 0.8s;
}

#used-languages {
  display: inline;
}


figure img {
  width: 100%;
}

img {
  max-width: 100%;
}