{% load static %}
<div id="aboutMe" class="post-card">
  <div class="post-card-row">
    <figure class="post-card-meta-img-container">
      <img id="about-me-image" src="{% static 'default.webp' %}" class="post-card-img about-me-image"
        alt="John Solly Profile Picture" />
      <figcaption class="visually-hidden">
        John Solly Profile Picture
      </figcaption>
    </figure>
    <div class="post-card-content">
      <h2 class="post-title">John Solly</h2>
      <ul class="social-links">
        <li>
          <a href="https://twitter.com/_jsolly" rel="noopener noreferrer me" target="_blank">X</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jsolly/" rel="noopener noreferrer me" target="_blank">Linkedin</a>
        </li>
        <li>
          <a href="https://github.com/jsolly" rel="noopener noreferrer me" target="_blank">Github</a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw" rel="noopener noreferrer me"
            target="_blank">Youtube</a>
        </li>
        <li>
          <a rel="me noopener noreferrer me" target="_blank" href="https://mapstodon.space/@jsolly">Mastodon</a>
        </li>

      </ul>
      <p>
        A hands-on AI practitioner who transitioned to a CTO role to broaden my impact.
      </p>
      <p>
        Most of my career has been dedicated to developing spatial systems at Esri, startups, and federal agencies.
        Currently, I lead technology strategy for Leidos' Health IT division, supporting agencies such as SSA, VA, and
        HHS.
      </p>
      <p>
        My primary focus is the convergence of spatial computing and AI, enabling machines to interpret the physical
        world and applying these capabilities to meaningful missions.
      </p>
      <p>
        Please <a rel="noopener noreferrer" target="_blank"
          href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda">reach
          out</a> if you are interested in spatial systems or advancing AI within the federal government.
      </p>
    </div>
  </div>
</div>