[run]
plugins = django_coverage_plugin
data_file = ./coverage/.coverage
omit = 
    */tests/*
    */__init__.py
    app/app/settings/*
    app/blog/templates/blog/pgp-key.txt
    app/blog/templates/blog/parts/posts.html
    app/blog/templates/blog/parts/base.html

[lcov]
output = ./coverage/lcov.info