[run]
plugins = django_coverage_plugin
data_file = ./coverage/.coverage
omit = 
    */tests/*
    */__init__.py
    django_project/blog/templates/blog/parts/posts.html
    django_project/blog/forms.py
    django_project/blog/templates/blog/pgp-key.txt
    django_project/blog/templates/blog/parts/base.html
    django_project/django_project/settings/*
    django_project/django_project/sitemaps.py
