{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"
        integrity="sha384-IOUppspYTbISZchqpOQiUnyFxb6AhlvJqZRXFlU7RfII0ZdZXzIo3LU+KmiT1o3Z" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"
        integrity="sha384-xe5sniKrv4+mwnK4QVnbxCgd0Ds0pE7Wux4rNMP6LjJz5NaEwnYDbXDtmH/VRAXY" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"
        integrity="sha384-sC3iLZk9YO3WAXAcay2D/eMTB56/6W9wJVMlk4AkcPVcEzaQ6+QB71/5mtspWyVf" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.png' %}"
        integrity="sha384-a5NpdTcTw+crh/PQbh++PiRI9V5PGN/GuHvo5tql2f+EaQWF0tMWlAdG1PaRH/g3" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/android-chrome-192x192.png' %}"
        integrity="sha384-yB41XbDdEj6WlLiR1x9Vs1+9+LJSS7b+c+me3x2jPReN6Zr58VfHvqH0zrmi7OBV" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon/favicon.ico' %}"
        integrity="sha384-A3PjKYwpKsnffqOV+psi6kfjhOvLjdiz+bOiB7TR6dB/J9u48hyynfQlYvpU7P02" crossorigin="anonymous">

    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1,
  maximum-scale=5" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="{% static '404.css' %}">

    <title>Page Not Found</title>
</head>

<body>
    <div class="container">
        <header>
            <span class="title">404 NOT FOUND</span>
        </header>
        <main>
            <section class="illustration">
                <img src="{% static 'img/Scarecrow.png' %}" alt="scarecrow image">
            </section>
            <section class="content">
                <h1 class="heading">I have bad news for you...</h1>
                <p class="message">
                    The page you are looking for might be removed or is temporarily unavailable
                </p>
                <a href="{% url 'blog-home' %}" class="btn-home">BACK TO HOMEPAGE</a>
            </section>
        </main>
        <footer>
            <p class="author">created by <a href="https://github.com/OnlyManu/">onlymanu</a>-devChallenge.io</p>
        </footer>
    </div>
</body>

</html>