{% extends "blog/base.html" %}
{% block title %}About Me{% endblock %}
{% block meta %}
<meta name="description"
  content="Curious about blogthedata.com? Learn all about the authors and why you should keep reading!">
{% endblock %}
{% block content %}

<h1>About Me</h1>
</br>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{my_profile.image.url}}" class="card-img" alt="John Solly Profile Picture">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
          John
          Solly
        </h5>
        <p class="small text-muted">
          <a href="https://www.linkedin.com/in/jsolly/" target="_blank">Linkedin</a>
          |
          <a href="https://github.com/jsolly" target="_blank">Github</a>
          <a href="https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw" target="_blank">Youtube</a>
        </p>
        <p class="card-text">
          My goal is to improve your health, productivity, and thinking. Good decisions become great ones when they are fact-driven.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}