{% extends "blog/base.html" %}
{% block title %}About Me{% endblock %}
{% block metadescription %}
<meta name="description"
  content="Curious about blogthedata.com? Learn all about the authors and why you should keep reading!">
{% endblock %}
{% block content %}

<h1>About Me</h1>
</br>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{my_profile.image.url}}" class="card-img">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
          John
          Solly
        </h5>
        <p class="small text-muted">
          <a href="https://www.linkedin.com/in/jsolly/" target="_blank">Linkedin</a>
          |
          <a href="https://github.com/jsolly" target="_blank">Github</a>
          <a href="https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw" target="_blank">Youtube</a>
        </p>
        <p class="card-text">
          Know anyone with a medical grade EEG to monitor their sleep? My goal is to improve my health, wealth, family,
          and friends 1% better every day. I have my B.A. in GIS and Remote sensing from UC Santa Barbara and an M.S. in
          Geoinformatics and Geospatial Intelligence from George Mason University.
          <br /><br />
          I created this blog to strengthen my web development skills and share thoughts with the world. Stay tuned for
          updates!
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}