{% extends "blog/parts/base.html" %}
{% load static %}
{% block title %}Create A New Blog Post!{% endblock title %}

{% block head %}
<!-- ckeditor -->
<link href="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.css' %}" rel="stylesheet">
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Add Post</h1>
<br /><br />
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-outline-info" id="post-create-button" type="submit">Post</button>
</div>

{% endblock content %}