{% extends "blog/parts/base.html" %} 
{% load static %}

{% block meta %}
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}"/>
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}">
<meta name="twitter:description"
    content="Gain productivity and stay informed on the latest geospatial web dev techniques with blog posts from a geospatial software engineer. Get valuable insights.">
    <meta name="og:description"
    content="Gain productivity and stay informed on the latest geospatial web dev techniques with blog posts from a geospatial software engineer. Get valuable insights.">
    <meta name="description"
    content="Gain productivity and stay informed on the latest geospatial web dev techniques with blog posts from a geospatial software engineer. Get valuable insights.">
{% include "blog/parts/logo_meta.html" %}
{% endblock meta %}

{% block content %}

<section id="Blog-Home-posts">
  <h1 class="display-6">Latest Posts! {% if page_obj.number > 1 %} (Page {{ page_obj.number }}) {% endif %} </h1>
  {% include "blog/parts/posts_paginated.html" %}
</section>

{% include "blog/parts/pagination.html" %}
{% endblock content %}