{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Favicon-->

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

  <!-- ckeditor -->
  <link href="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.css' %}" rel="stylesheet">
  <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block metadescription %}
  <meta name="description"
    content="Researched Articles about Software Development and Productivity. Learn things that you can apply immediately to improve your life and work.">
  {% endblock %}

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

  <title>{% block title %} Solly's Blog {% endblock %}</title>
</head>

<body>
  <a href="https://www.example.com">a link</a>
  <header class="site-header">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Solly's Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'blog-home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog-about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog-roadmap' %}">Site Roadmap</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for cat in cat_list %}
                <li><a class="dropdown-item" href="{% url 'blog-category' cat|slugify %}">{{cat|title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'post-create' %}">New Post</a>
            </li>
            {% endif %}
          </ul>

          <form class="d-flex" method=POST action="{% url 'blog-search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search Posts" aria-label="Search"
            name="searched">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    </header>

    <!-- End Nav Bar -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %} {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <!-- Category Menu Code -->
            <h3>Categories</h3>
            {% for cat in cat_list %}
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">
                <a href="{% url 'blog-category' cat|slugify %}"> {{cat|title}} </a>
              </li>
              {% endfor %}
              <li class="list-group-item list-group-item-light">
                <a href="{% url 'blog-home' %}"> All Categories</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <!-- JavaScript -->
</body>

</html>