{% extends "blog/parts/base.html" %}
{% load static %}
{% block head %}
<meta property="og:type" content="article:section" />
<meta property="og:image"
content="{{ request.scheme }}://{{ request.get_host }}{% static 'iPhoneblogthedata.webp' %}">
<meta property="og:image:alt" content="An Iphone on a table with blogthedata.com on the screen">
<meta property="og:image:type" content="image/webp">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endblock head %}

{% block content %}
<section id="category-blog-posts">
    <h1 class="category-title">{{ category.name }}</h1>
    <p class="category-description">{{ category.description }}</p>
    {% include "blog/parts/posts.html" %}
</section>
{% endblock content %}