{% extends "blog/parts/base.html" %}
{% block title %}{{ category|title }}{% endblock title %}

{% block meta %}
<meta name="description" content="Researched articles about {{ category }}. Stay up-to-date and improve your knowledge.">
{% include "blog/parts/logo_meta.html" %}
<meta property="og:type" content="article:section">
<meta property="og:title" content="{{ category|title }}">
<meta name="twitter:description"
    content="Researched articles about {{ category }}. Stay up-to-date and improve your knowledge.">
{% endblock meta %}

<!-- About Section-->
{% block about %}
{{ category.description }}
{% endblock about %}

{% block content %}
<h1 class="display-6">{{ category|title }}</h1>
{% include "blog/parts/posts.html" %}
{% include "blog/parts/pagination.html" %}

{% endblock content %}