{% extends "blog/parts/base.html" %}
{% block title %}Edit Blog Post!{% endblock title %}
{% load static %}
{% load sri %}

{% block head %}
<!-- ckeditor -->
{% sri_static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.css' %}
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>

{% endblock head %}
{% block content %}
<h1>Update Post</h1>
<br /><br />
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-outline-info" id="post-update-button" type="submit">Update</button>
</div>

{% endblock content %}