{% extends "blog/parts/base.html" %}
{% block title %}Works Cited{% endblock title %}
<!-- About Section-->
{% block about %}
Attibutions to the resources and assets I've leveraged from other people/projects.
{% endblock about %}

{% block meta %}
<meta name="description"
  content="A page dedicated to attributing thanks to individuals that put out tutorials for free. I also want to thank the authors who created images and logos with open licenses so I can use them on this site.">
  {% include "blog/parts/logo_meta.html" %}
  {% endblock meta %}
{% block content %}


<iframe id="geo-asteroids" src="http://geoasteroids.com"></iframe>

{% endblock content %}