{% extends "blog/parts/base.html" %} {% load static %}

{% block meta %}
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
<meta name="twitter:description"
    content="Gain productivity and stay informed on the latest geospatial web dev techniques with blog posts from a geospatial software engineer. Get valuable insights.">
    <meta name="og:description"
    content="Gain productivity and stay informed on the latest geospatial web dev techniques with blog posts from a geospatial software engineer. Get valuable insights.">
    <meta name="description"
    content="Gain productivity and stay informed on the latest geospatial web dev techniques with blog posts from a geospatial software engineer. Get valuable insights.">
{% include "blog/parts/logo_meta.html" %}
{% endblock meta %}

{% block content %}
<section id="about-me-home">
  {% include "blog/parts/about_me.html" %}
</section>

<section id="Blog-Home-posts">
  <h1 class="display-6">Latest Posts!</h1>
  {% include "blog/parts/posts.html" %}
</section>
{% endblock content %}