{% extends "blog/parts/base.html" %} {% load static %}

{% block meta %}
<meta name="twitter:description"
    content="Blog posts about everything from developing software to productivity. Articles focus on geospatial web development, but also touch on tangential topics such as SEO and web security.">
    <meta name="og:description"
    content="Blog posts about everything from developing software to productivity. Articles focus on geospatial web development, but also touch on tangential topics such as SEO and web security.">
    <meta name="description"
    content="Blog posts about everything from developing software to productivity. Articles focus on geospatial web development, but also touch on tangential topics such as SEO and web security.">
{% include "blog/parts/logo_meta.html" %}
{% endblock meta %}

{% block content %}
<section id="about-me-home">
  {% include "blog/parts/about_me.html" %}
</section>

<section id="Blog-Home-posts">
  <h1 class="display-6">Latest Posts!</h1>
  {% include "blog/parts/home_posts.html" %}
</section>
{% endblock content %}