{% load static %}

<div class="float-lg-end text-center">
  <a target="_blank" href="{% static 'portfolio/Solly_John_Resume.pdf' %}" class="btn btn-outline-primary mb-5">
    <img src="{% static 'svg/resume-icon.svg' %}" alt="PDF">
    View Resume ↗
  </a>
</div>
<p id="portfolioHello" class="text-center mb-5">
  Hello World, I'm John!
  <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="40" alt="Waving hand emoji" />
</p>
</section>
<article class="accordion mb-5" id="accordion-wrapper">
  <h2 class="display-6">My Bio</h2>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        Tap or click to read John Solly's Bio
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordion-wrapper">
      <div class="accordion-body">
        <img class="float-start m-2 bio-image" src="{% static 'portfolio/gisLecture.webp' %}" alt="A photo of John at 2015 AAG conference. Rebecca Rice on the left followed by Michael Goodchild and John Solly on the
                right" />
        <p>
          As a geospatial developer, I combine GIS domain knowledge and full-stack development to create beautiful (and
          fast) mapping applications.
        </p>

        <p>
          I studied GIS under thought leaders Michael Goodchild and Waldo Tobler while completing a bachelor's in
          Geography at UCSB and an M.S. in Geoinformatics and Geospatial Intelligence at George Mason University. Upon
          graduation, I joined Esri as a product engineer to launch <a
            href="https://www.esri.com/en-us/arcgis/products/arcgis-dashboards/overview" rel="noopener noreferrer"
            target="_blank">
            ArcGIS Dashboards</a> out of beta to become one of the
          world's most viewed geospatial web applications.
        </p>

        <p>
          I've always been 'technical,' writing scripts to automate myself out of jobs, but things got serious when I
          began an open-source CS degree equivalent through <a href="https://github.com/ossu/computer-science"
            rel="noopener noreferrer" target="_blank">
            Open Source Society University</a>. Part-way through the
          program, I accepted a position at UMD, where I work today as a technical lead and geospatial developer funded
          through a grant from the Filecoin Foundation for the Decentralized Web. Learn more about the project at <a
            href="https://easierdata.org/" rel="noopener noreferrer" target="_blank">
            easierdata.org</a>
        </p>

        <p>
          If you have complex geospatial challenges that require a developer to solve,
          <a href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda"
            rel="noopener noreferrer" target="_blank">
            Drop me a message</a>, and let's explore our fit together!
        </p>
      </div>
    </div>
  </div>
</article>