{% extends "blog/parts/base.html" %}
{% load static %}
{% load sri %}
{% block head %}
{% sri_static 'css/portfolio.css' %}
{% sri_static 'js/carousel.js' %}
{% endblock head %}

{% block content %}
<div class="resume-container">
  <a target="_blank" href="{% static 'portfolio/Solly_John_Resume.pdf' %}" class="resume-btn">
    <img src="{% static 'svg/resume-icon.svg' %}" alt="Resume Icon">
    View Resume ↗
  </a>
</div>
<p id="portfolioHello" class="portfolio-hello">
  Hello World,<br>I'm John!
</p>
<article class="accordion-container">
  <h2 class="section-title">My Bio</h2>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button">
        Tap or click to read John Solly's Bio
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse">
      <div class="accordion-body">
        <img class="bio-image" src="{% static 'portfolio/gisLecture.webp' %}" alt="John at 2015 AAG conference with Rebecca Rice and Michael Goodchild" loading="lazy" />
        {% include "blog/parts/long_solly_bio.html" %}
      </div>
    </div>
  </div>
</article>
{% include "blog/parts/posts.html" %}
<!-- Testimonial Carousel -->
<div class="testimonial-carousel">
  <h2 class="section-title" id="carouselExampleCaptions">Testimonials</h2>
  <div class="carousel-wrapper">
    <div class="carousel-inner"> 
      {% for item in carousel_items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}" data-index="{{ forloop.counter0 }}">
        {% include 'blog/parts/carousel_item.html' %}
      </div>
      {% endfor %}
    </div> 
    <button class="carousel-control-prev" type="button" aria-label="Previous" onclick="changeCarouselItem(-1)">&#10094;</button>
    <button class="carousel-control-next" type="button" aria-label="Next" onclick="changeCarouselItem(1)">&#10095;</button>
  </div>
</div>

<!-- Indicators -->
<br>
  <ol class="carousel-indicators">
    {% for item in carousel_items %}
    <li data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" {% endif %}></li>
    {% endfor %}
  </ol>
<hr>
<br>
{% include "blog/parts/contact_me.html" %}
<hr>
<br>
{% include "blog/parts/page_speed_insights.html" %}
{% endblock content %}
