{% extends "blog/parts/base.html" %}
{% block title %}John's Portfolio{% endblock title %}
{% load sri %}
{% load static %}
{% block meta %}
<meta name="description" content="Projects I've worked on">
{% include "blog/parts/logo_meta.html" %}
{% endblock meta %}

{% block head %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>

<!-- Leaflet Plugins -->
<!-- ArcPolyLine-->
{% sri_static 'leaflet_plugins/leaflet-arc.min.js' %}
{% sri_static 'leaflet_plugins/leaflet.textpath.js' %}

<!-- Marker Cluster-->
{% sri_static 'leaflet_plugins/MarkerCluster.Default.css' %}
{% sri_static 'leaflet_plugins/MarkerCluster.css' %}
{% sri_static 'leaflet_plugins/leaflet.markercluster.js' %}
{% endblock head %}

<!-- About Section-->
{% block about %}
My projects
{% endblock about %}

{% block content %}

<article class="media content-section shadow-sm">
  <h3>Site Traffic for blogthedata.com</h3>
  {% include "blog/maps/site_analytics.html" %}
  <p>IP addresses are pulled from request headers and geocoded using the <a rel="noopener noreferrer" target="_blank"
      href="https://github.com/ipinfo/python/ipinfo">IPinfo API</a>.
    Locations are then placed into a PostGIS database and accessed and rendered using the <a target="_blank"
      href="https://leafletjs.com/">Leaflet API</a>. See <a target="_blank" rel="noopener noreferrer"
      href="https://github.com/jsolly/blogthedata/pull/120/files">this PR</a> where the functionality was introduced.
  </P>
</article>
<article class="media content-section shadow-sm">
  <h3> <a target="_blank" href="https://geoasteroids.com">GeoAsteroids.com</a></h3>
  <div embed-responsive embed-responsive-1by1 width="100%">
    <video autoplay loop controls muted playsinline src="{% static 'portfolio/GeoAsteroids_playthrough.mp4' %}"
      type="video/mp4">
      <p>Your browser doesn't support HTML5 video. Here is a <a
          href="{% static 'portfolio/GeoAsteroids_playthrough.mp4' %}">link to the video</a> instead.</p>
    </video>
  </div>
  <p>A 2D spaceship game written in pure Javascript. The backend is node.js + express and is hosted on Heroku.</p>
  <a target="_blank" href="https://geoasteroids.com"> Open GeoAsteroids in a new tab 🚀 </a>
  </article>

{% endblock content %}