{% load static %}
<!-- Carousel wrapper -->
<div id="carouselExampleControls" class="carousel slide text-center carousel-dark mb-5 mt-5" data-mdb-ride="carousel">
  <h2 class="display-5 text-center mt-5" id="carouselExampleCaptions">Testimonials</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="rounded-circle shadow-1-strong mb-4" src="{% static 'portfolio/AmyBrazil.webp' %}" alt="avatar"
        style="width: 150px" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="fs-6">
            <h3 class="mb-2 fw-lighter">Amy Brazil</h3>
            <p class="fw-bolder mb-0 fs-5">Direct Manager, Customer Success</p>
            <p class="lh-1">YellowfinBI - 2022</p>
          </div>
          <p class="text-muted testimonial-quote mb-2">
            I had the pleasure to hire, onboard and manage John. I have nothing
            but great things to say about him as both a professional employee
            and direct report. He is so passionate about learning, collaborating
            with other team members to make a better work environment and goes
            above and beyond for our customers.
          </p>
          <p class="fw-semibold">
            Read full review on
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jsolly/">LinkedIn</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow-1-strong mb-4" src="{% static 'portfolio/CraigUtley.webp' %}" alt="avatar"
        style="width: 150px" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="fs-6">
            <h3 class="mb-2 fw-lighter">Craig Utley</h3>
            <p class="fw-bolder mb-0 fs-5">Direct Manager, Consulting</p>
            <p class="lh-1">YellowfinBI - 2022</p>
          </div>
          <p class="text-muted testimonial-quote mb-2">
            There is a right way to come into an organization and John did it
            the right way. He jumped into the product and got up to speed
            quickly. He reached out to many throughout the organization to learn
            and grow. He delivered for customers, documented his findings to
            benefit others, and earned the respect of his peers, both technical
            and customer-facing.
          </p>
          <p class="fw-semibold">
            Read full review on
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jsolly/">LinkedIn</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow-1-strong mb-4" src="{% static 'portfolio/MeredithBean.webp' %}" alt="avatar"
        style="width: 150px" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="fs-6">
            <h3 class="mb-2 fw-lighter">Meredith Bean</h3>
            <p class="fw-bolder mb-0 fs-5">Undergraduate Student</p>
            <p class="lh-1">George Mason University - 2016</p>
          </div>
          <p class="text-muted testimonial-quote mb-2">
            John was an extraordinary TA to me as a student in an introductory
            GIS class. His enthusiasm for Geography and all things related is
            palpable and contagious. He was always knowledgeable and excited to
            help tackle difficult concepts, projects, or errors...He was, by
            far, the best TA I have ever had.
          </p>
          <p class="fw-semibold">
            Read full review on
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jsolly/">LinkedIn</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow-1-strong mb-4" src="{% static 'portfolio/KathrynThorpe.webp' %}" alt="avatar"
        style="width: 150px" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="fs-6">
            <h3 class="mb-2 fw-lighter">Kathryn Thorpe</h3>
            <p class="fw-bolder mb-0 fs-5">Coworker, Customer Success</p>
            <p class="lh-1">YellowfinBI - 2022</p>
          </div>
          <p class="text-muted testimonial-quote mb-2">
            Not only is John the kind of guy you'd trust with all things IT
            based on his technical prowess, but he's genuinely a good person to
            his core, leaving you trusting him on a multitude of levels. John is
            amazingly bright, levelheaded, and goal-oriented, which translated
            into him consistently delivering results internally and directly to
            our customers.
          </p>
          <p class="fw-semibold">
            Read full review on
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jsolly/">LinkedIn</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<hr>
<div class="col-lg-6 mx-auto text-center mt-4 mb-5">
  <h2 class="lh-1 mb-3 fw-bolder display-6">Let's Build Something Together?</h2>
  <p class="mb-4">
    My inbox is always open. Whether you have a question or just want to say hi,
    I respond to every email within 72 hours.
  </p>
  <a rel="noopener noreferrer" target="_blank"
    href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda"
    class="btn btn-lg btn-outline-primary">
    Say Hello
  </a>
</div>
<hr>
<br>
<figure>
  <figcaption class="text-center pb-3"><a rel="noopener noreferrer" target="_blank"
      href="https://web.dev/measure/?url=https%3A%2F%2Fblogthedata.com">Blogthedata.com PageSpeed Insights</a>
  </figcaption>
  <img src="{% static 'portfolio/lighthousestats.svg' %}" alt="PageSpeed Insights Scores">
</figure>