{% extends "blog/base.html" %} {% block title %} {{post.title}} {% endblock %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="" />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      {% if post.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">
          Edit Post</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">
          Delete Post</a>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p>{{ post.content|safe }}</p>
    <p>{{post.total_likes}} likes</p>
  </div>
</article>
<form action="{% url 'post-like' pk=post.id %}" method="post">
  {% csrf_token %}
  <button type="submit" name="post-id" value="{{post.id}}" class="btn btn-primary ml-3">
    {% if like_status %}
    <i>Unlike</i>
    {% else %}
    <i>Like</i>
    {% endif %}
  </button>
</form>
<hr />
<div>
  <a class="btn btn-primary" href="{% url 'comment-create' pk=post.pk %}">Add comment</a>
</div>
{% for comment in post.comments.all %}
<div class="comment" style="padding: 10px">
  <div class="date">
    <strong>{{comment.author}}</strong> {{comment.date_posted|date:"F d, Y"}}
  </div>
  <p>{{ comment.content|safe }}</p>
</div>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}

<a href="{% url 'blog-home' %}" class="btn btn-secondary"> Back to Home </a>

{% endblock %}