{% extends "blog/parts/base.html" %}
{% block title %} Delete - "{{ object.title }}"{% endblock title %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boarder-bottom mb-4"> Delete Post</legend>
            <h3>Are you sure you want to delete the post "{{ object.title }}"?</h3>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" id="confirm-delete-button" type="submit">Yes, delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' slug=post.slug %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}