{% extends "blog/parts/base.html" %}
{% load static %}
{% block title %} {{post.title}} {% endblock title %}

{% block head %}
<!-- MathJax-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>

<!-- ckeditor -->
<link href="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.css' %}" rel="stylesheet">
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
{% endblock head %}

{% block meta %}
{% load tz %}
<meta name="description" content="{{ post.metadesc }}">
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ post.date_posted|date:'c' }">
<meta name="author" content="{{ post.author.first_name }} {{ post.author.last_name }}">
<meta property="og:image" content="{{ post.metaimg.url }}">
<meta property="og:image:type" content="{{ post.metaimg_mimetype }}">
<meta property="og:image:width" content="{{ post.metaimg.width }}">
<meta property="og:image:height" content="{{ post.metaimg.height }}">
{% endblock meta %}

{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="" />
  <div class="media-body">
    <div class="article-metadata">
      <nobr>{{ post.author.first_name }} {{ post.author.last_name }} <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        {% if post.draft %} <span style="color:red"> (Draft)</span> {% endif %}
      </nobr>
      {% if post.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" id="post-edit-button" href="{% url 'post-update' post.slug %}">
          Edit Post</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" id="post-delete-button" href="{% url 'post-delete' post.slug %}">
          Delete Post</a>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p>{{ post.content|safe }}</p>
    <p>{{post.total_likes}} likes</p>
    <p>{{post.total_views}} views</p>
  </div>
</article>
<form action="{% url 'post-like' slug=post.slug %}" method="post">
  {% csrf_token %}
  {% if like_status %}
  <button type="submit" name="post-id" id="post-unlike-button" value="{{post.slug}}"
    class="btn btn-danger btn-sm">Unlike</button>
  {% else %}
  <button type="submit" name="post-id" id="post-like-button" value="{{post.slug}}"
    class="btn btn-primary btn-sm">Like</button>
  {% endif %}
</form>
<hr />
<div>
  <a class="btn btn-primary" id="comment-create-button" href="{% url 'comment-create' slug=post.slug %}">Add comment</a>
</div>
{% for comment in post.comments.all %}
<div class="comment" style="padding: 10px">
  <div class="date">
    <strong>{{comment.author}}</strong> {{comment.date_posted|date:"F d, Y"}}
  </div>
  {{ comment.content|safe }}
</div>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}

<a href="{% url 'blog-home' %}" id="post-back-to-home-button" class="btn btn-secondary"> Back to Home </a>

{% endblock content %}