{% extends "blog/base.html" %}
{% block title %}Road Map{% endblock %}

{% block metadescription %}
<meta name="description" content="Roadmap of feature development on blogthedata.com">
{% endblock %}

{% block content %}
<h1>Road Map</h1>
</br>
<h3>In Progress</h3>
<ul>
  {% for issue in inprog_issues %}
  <li><a href="https://github.com/jsolly/blogthedata/issues/{{ issue.number }}" target="_blank">{{ issue.title }}</a></li>
  {% endfor %}
</ul>
<h3>Backlog</h3>
<ul>
  {% for issue in backlog_issues %}
  <li> <a href="https://github.com/jsolly/blogthedata/issues/{{ issue.number }}" target="_blank">{{ issue.title }}</a></li>
  {% endfor %}
  <li>Improved social media sharing (previews, etc)</li>
  <li>Add character counter to fields with character limits</li>
  <li>Add a footer with Copyright, Sitemap, Privacy Policy, Terms of use, Contact, Site navigation, social media icons,
    site search</li>
  <!--
    https://www.orbitmedia.com/blog/website-footer-design-best-practices/
    https://favicon.io/emoji-favicons/bar-chart
  
  -->
  <li>Start using 'Git Flow' </li>
  <li>Add sort by most popular posts</li>
  <li>Make post like button an AJAX call to prevent reloading</li>
  <li>Create Application Diagram</li>

  <li>Add cache control for performance</li>
  <li>Login with email or username</li>
  <li>Reverse pagination on comments (Latest is at the top)</li>
  <li>Improve formatting on Login page.</li>
  <li>Add site-wide analytics to the home page</li>
  <li>Turn these items into 'ideas' that can be voted on via 'likes'</li>
  <li>Add 'Surprise me' button that takes user to random post 🎉</li>
  <li>Migrate to serverless architecture (AWS Lambda?)</li>
  <li>Move to React front end?</li>
</ul>
<h3><a href="https://github.com/jsolly/blogthedata/issues?q=is%3Aissue+is%3Aclosed" target="_blank">Link to Completed ✅ </a></h3>
{% endblock content %}