{% extends "blog/base.html" %}
{% block title %}Site Road Map{% endblock %}

{% block metadescription %}
    <meta name="description" content="Roadmap of feature development on blogthedata.com">
{% endblock %}

{% block content %}
<h1>Site Road Map</h1>
</br>
<h3>Todo</h3>
<ul>
  <li>Improved social media sharing (previews, etc)</li>
  <li>Add character counter to fields with character limits</li>
  <li>Add a footer with Copyright, Sitemap, Privacy Policy, Terms of use, Contact, Site navigation, social media icons, site search</li>
  <!--
    https://www.orbitmedia.com/blog/website-footer-design-best-practices/
    https://favicon.io/emoji-favicons/bar-chart
  
  -->
</ul>
</br>
<h3>Active Backlog</h3>
<ul>
  <li>Create Newsletter 🗞 </li>
  <li>Start using 'Git Flow' </li>
  <li>Come up with checklist for Accessibility</li>
  <li>Come up with checklist for SEO</li>
  <li>Add sort by most popular posts</li>

</ul>
</br>
<h3>Backburner/Ideas</h3>
<ul>
  <li>Allow authors to save drafts of posts</li>
  <li>Login with email or username</li>
  <li>Reverse pagination on comments (Latest is at the top)</li>
  <li>Improve formatting on Login page.</li>
  <li>Add site-wide analytics to the home page</li>
  <li>Turn these items into 'ideas' that can be voted on via 'likes'</li>
  <li>Add 'Surprise me' button that takes user to random post 🎉</li>
  <li>Migrate to serverless architecture (AWS Lambda?)</li>
  <li>Move to React front end?</li>
</ul>
</br>
<h3>Functional Requirements ✅ </h3>
<ul>
  <li><del>Change post snippet from a truncated post to a snippet field</del></li>
  <li><del>Add ability to upload images to server ⏫ </del></li>
  <li><del>Add Favicon and serve different file depending on device (mobile vs desktop)</del></li>
  <li><del>Improve url slugging so that they aren't just /post/5 🐌 </del></li>
  <li><del>Add line numbers to code snippets (check out prism plugin)</del></li>
  <li><del>Add code snippets to ckeditor</del></li>
  <li><del>Add spell-check to ckeditor 🔤 </del></li>
  <li><del>Add an 'All Categories' link in sidebar</del></li>
  <li><del>Like button for posts 👍</del></li>
  <li><del>Views for posts </del></li>
  <li><del>Post categories</del></li>
  <del><li>Global Search (to find posts) 🔎 </li></del>
</ul>
<h3>Non-functional Requirements ✅</h3>
<ul>
  <li><del>Add meta description field to posts</del></li>
  <li><del>Add alt text to all images 🏞 </del></li>
  <li><del>Rename image files to be SEO friendly</del></li>
  <li><del>Migrate from sqlite to postgres db</del></li>
  <li><del>Use Git Hooks to collect static files before commits 🪝</del></li>
  <li><del>Add meta descriptions to each page</del></li>
  </ul>
</br>
{% endblock content %}