{% extends "blog/parts/base.html" %}
{% block title %}Blog Roadmap{% endblock title %}

{% block meta %}
<meta name="description"
  content="A list of Github issues for the development of blogthedata.com. Issues that are 'in progress' are being actively developed. Anything in the backlog is planned for future sprints. Feel free to create new issues for bugs and enhancements!">
{% endblock meta %}

<!-- About Section-->
{% block about %}
A list of Github issues for the development of blogthedata.com. In progress items are being actively developed. Backlog
tasks are planned for future sprints. Feel free to create new issues for bugs and enhancements!
{% endblock about %}

{% block content %}
<h1>Blog Roadmap</h1>
<h3>In Progress</h3>
<ul>
  {% for issue in inprog_issues %}
  <li><a href="https://github.com/jsolly/blogthedata/issues/{{ issue.number }}" target="_blank">{{ issue.title }}</a>
  </li>
  {% endfor %}
</ul>
<h3>2022 Sprint {{ sprint_number }} of 26</h3>
<ul>
  {% for issue in backlog_issues %}
  <li> <a href="https://github.com/jsolly/blogthedata/issues/{{ issue.number }}" target="_blank">{{ issue.title }}</a>
  </li>
  {% endfor %}
</ul>
<h3>Next Sprint</h3>
<ul>
  {% for issue in next_sprint_issues %}
  <li> <a href="https://github.com/jsolly/blogthedata/issues/{{ issue.number }}" target="_blank">{{ issue.title }}</a>
  </li>
  {% endfor %}
</ul>
<h4><a href="https://github.com/jsolly/blogthedata/issues?q=is%3Aopen+is%3Aissue" target="_blank">Backlog items 🗂
  </a></h4>
<h4><a href="https://github.com/jsolly/blogthedata/issues?q=is%3Aissue+is%3Aclosed" target="_blank">Link to
    Completed/Closed ✅
  </a></h4>

{% endblock content %}