{% extends "blog/parts/base.html" %}
{% block title %}Site Analytics{% endblock title %}
{% load static %}
{% load sri %}
{% block meta %}
<meta name="description" content="Analytics for blogthedata.com.">
{% include "blog/parts/logo_meta.html" %}
{% endblock meta %}

{% block head %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>

<!-- Leaflet Plugins -->
{% sri_static 'leaflet_plugins/leaflet-arc.min.js' %}
{% sri_static 'leaflet_plugins/leaflet.textpath.js' %}


{% endblock head %}

<!-- About Section-->
{% block about %}
Analytics for blogthedata.com
{% endblock about %}

{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="location-tab" data-bs-toggle="tab" data-bs-target="#location-tab-pane" type="button"
      role="tab" aria-controls="location-tab-pane" aria-selected="true">Visitors</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="location-tab-pane" role="tabpanel" aria-labelledby="location-tab" tabindex="0"> 
    {% include "blog/maps/location_map.html" %}
    <a id="inline-attribution" href="https://www.flaticon.com/free-icons/ip-address" title="ip address icons">Ip address
      icons created by Freepik - Flaticon</a>
  </div>



</div>
{% endblock content %}