{% extends "blog/parts/base.html" %}
{% block title %}Site Analytics{% endblock title %}
{% load static %}
{% block meta %}
<meta name="description" content="Analytics for blogthedata.com.">
{% endblock meta %}

<!-- About Section-->
{% block about %}
Analytics for blogthedata.com
{% endblock about %}

{% block content %}
Under Construction!
<img src="{% static media/django_ckeditor_5/evergreen_ship.jpg" alt="A photo of the Ship, Evergreen in the water" width="499" height="333">

{% endblock content %}