{% extends "blog/parts/base.html" %}
{% load sri %}
{% load humanize %}

{% block head %}
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

{% sri_static 'leaflet_plugins/leaflet-arc.min.js' %}
{% sri_static 'leaflet_plugins/leaflet.textpath.js' %}
{% sri_static 'leaflet_plugins/MarkerCluster.Default.css' %}
{% sri_static 'leaflet_plugins/MarkerCluster.css' %}
{% sri_static 'leaflet_plugins/leaflet.markercluster.js' %}
{% endblock head %}

{% block content %}
<div class="container">
  <h1 class="text-center">System Status Report</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h2>Blog Status</h2>
      <p>Status: Up 🟢</p>
      <p>Message: {{ message }}</p>
      <p>Last Updated: {{ updated_at }}</p>
      <hr>
    </div>
    <div class="col-md-6">
      <h2>System Metrics</h2>
      <p>Uptime: {{ server_uptime }}</p>
      <p>CPU Usage: {{ cpu_usage_percent }}% <span class="badge {% if cpu_usage_percent > 80 %}badge-danger{% else %}badge-success{% endif %}"> {% if cpu_usage_percent > 80 %}🔥{% else %}✅{% endif %}</span></p>
      <p>RAM Usage: {{ ram_used|intcomma }} MB / {{ ram_total|intcomma }} MB ({{ ram_percentage }}%)</p>
      <p>Disk Usage: {{ disk_usage }}</p>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h2>Site Traffic Map</h2>
      {% include 'siteanalytics/parts/site_traffic_map.html' %}
    </div>
  </div>
</div>
{% endblock %}
