{% extends "blog/parts/base.html" %}
{% block title %} Works Cited: Resources for a Successful Blog {% endblock title %}

<!-- About Section-->
{% block about %}
Attibutions to the resources and assets I've leveraged from other people/projects.
{% endblock about %}

{% block meta %}
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
<meta name="description"
  content="Curated list of inspirations & resources from a geospatial software engineer. Get insights on the latest techniques & create a successful blog." />
{% include "blog/parts/logo_meta.html" %}
{% endblock meta %}

{% block content %}
<section>
  <h1>Works Cited</h1>
  <h2>Inspirations</h2>
  <p>
    <a href="https://www.juliacodes.com/" target="_blank" rel="noopener noreferrer">Juliacodes.com
    </a>
    I really liked how she added a fade-in to her content on load. I emulated this
    with a fade-in keyframe.
  </p>
  <p>
    <a href="https://timmyomahony.com/" target="_blank" rel="noopener noreferrer">Timmyomahony.com</a>
    I admire his footer and privacy policy. I used both for inspiration when
    creating my footer and privacy policy.
  </p>
  <p>
    <a href="https://brittanychiang.com/" target="_blank" rel="noopener noreferrer">Brittanychiang.com</a>
    Her 'Get in Touch' section is superb. I borrowed a lot of strings she uses
    including the link text, "Say Hello"
  </p>
  <p>
    <a href="https://www.kevinpowell.co/" target="_blank" rel="noopener noreferrer">Kevin Powell</a>
    I stole Kevin's expanding buttons.
  </p>
  <p>
    <a href="https://www.smashingmagazine.com/" target="_blank" rel="noopener noreferrer">Smashing Magazine</a>
    The large text and placeholder text in the search navigation was inspiring.
  </p>

  <h2>Shout Outs</h2>
  <p>
    <a href="https://developer.mozilla.org/en-US/" target="_blank" rel="noopener noreferrer">developer.mozilla.org</a>
    I freaking love MDN. Thank you to all the folks at Mozilla who maintain it.
  </p>
  <p>
    Thank you to
    <a href="https://www.youtube.com/c/Coreyms" target="_blank" rel="noopener noreferrer">Coreyms</a>
    and
    <a href="https://www.youtube.com/c/CodingEntrepreneurs/featured" target="_blank" rel="noopener noreferrer">CFE</a>
    for the tutorials that got this blog started<br />
  </p>
  <p>
    <a href="https://github.com/DenverCoder1/readme-typing-svg" target="_blank" rel="noopener noreferrer">DenverCoder1
      Typing SVG Github Repo</a>
    I used this repo to create the typing SVG you see at the top of my portfolio
    page.
  </p>
  <p>
    <a href="https://github.com/anuraghazra/github-readme-stats" target="_blank"
      rel="noopener noreferrer">anuraghazra/github-readme-stats</a>
    Github repo that powers the Github stats featured on the portfolio page.
  </p>

  <h2>Icons and Logos</h2>
  <p>
    <a href="https://sharingbuttons.io/" target="_blank" rel="noopener noreferrer">sharingbuttons.io</a>
    Social share buttons used on post-detail page.
  </p>
  <p>
    <a href="https://icons.getbootstrap.com/icons/arrow-up-circle-fill/" target="_blank" rel="noopener noreferrer">Arrow
      up Bootstap icon</a>
    Arrow up Bootstap icon for scroll-to-top behavior.
  </p>
  <p>
    <a href="https://www.shopify.com/tools/logo-maker" target="_blank" rel="noopener noreferrer">Shopify Logo Maker</a>
    Shopify's logo maker created the blogthedata.com logo.
  </p>
  <h2>Misc</h2>
  <p>
    <a href="https://avatarmaker.com/" target="_blank" rel="noopener noreferrer">Avatarmaker.com</a>
    Used this site to generate avatars used in the testimonial section on the
    portfolio page.
  </p>
  <p>
    <a href="https://github.com/OnlyManu/404-not-found-master" target="_blank" rel="noopener noreferrer">OnlyManu
      (Github
      Repo)</a>
    Used this 404 page for my 404 page.
  </p>
  <p>
    <a href="https://css-tricks.com/css-link-hover-effects/" target="_blank" rel="noopener noreferrer">CSS Tricks</a>
    I legitamately just copied and pasted the <a rel="noopener noreferrer" target="_blank"
      href="https://cdpn.io/team/css-tricks/fullembedgrid/xxPOgmZ?animations=run&type=embed#">link underline
      animation</a>
    (I changed the color and changed the selectors)
  </p>
  <a href="https://iconscout.com/icons/open-in-new" target="_blank">Open in new Icon</a>
  <a href="https://iconscout.com/contributors/google-inc" target="_blank">Google Inc.</a>
</section>
{% endblock content %}