{% extends "blog/parts/base.html" %}
{% block title %}Works Cited{% endblock title %}
<!-- About Section-->
{% block about %}
Attibutions to the resources and assets I've leveraged from other people/projects.
{% endblock about %}

{% block meta %}
<meta name="description"
  content="A page dedicated to attributing thanks to individuals that put out tutorials for free. I also want to thank the authors who created images and logos with open licenses so I can use them on this site.">
  {% include "blog/parts/logo_meta.html" %}
  {% endblock meta %}
{% block content %}
<h1>Works Cited</h1>
<p>Blogthedata.com is built with Django, Bootstrap, and Python</br>
  Thank you to Corey Schafer and Code Academy for the tutorials that got this blog started</br>
<H3>Images and Logos</H3>
Sorrentino, John. “Bar Chart.” Favicon.io, https://favicon.io/emoji-favicons/bar-chart/.
</p>
</div>
{% endblock content %}