{% extends "blog/parts/base.html" %}
{% block title %}Works Cited{% endblock title %}
<!-- About Section-->
{% block about %}
Attibutions to the resources and assets I've leveraged from other people/projects.
{% endblock about %}

{% block meta %}
<meta name="description"
  content="A page dedicated to attributing thanks to individuals that put out tutorials for free. I also want to thank the authors who created images and logos with open licenses so I can use them on this site.">
  {% include "blog/parts/logo_meta.html" %}
  {% endblock meta %}
{% block content %}
<h1>Works Cited</h1>
<p>Blogthedata.com is built with Django, Bootstrap, and Python</br>
  Thank you to Corey Schafer and Code Academy for the tutorials that got this blog started</br>

  <h2>Images</h2>
  <a href="https://iconscout.com/icons/typescript" target="_blank">Typescript Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia" target="_blank">Icon Mafia</a>
  <a href="https://iconscout.com/icons/eslint" target="_blank">Eslint Logo Icon</a> by <a href="https://iconscout.com/contributors/icon-54">Icon 54</a> on <a href="https://iconscout.com">IconScout</a>
</p>
</div>
{% endblock content %}