{% extends "blog/base.html" %}
{% load static %}

{% block head %}
<script src="{% static 'js/characterCounter.js' %}" defer></script>
<script>
  window.addEventListener("beforeunload", function (e) {
    if (document.activeElement.type === "submit") {
      return null;
    }

    e.preventDefault();
    e.returnValue = "Are you sure you want to leave this page?";
  });
</script>
{% endblock head %}



{% block content %}
<h1>Update Post</h1>

{% include 'blog/parts/gpt_title_slug_generation.html' %}

<br />
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.media }} {{ form }}
    <button class="post-submit-button sml-margin-top-bottom" id="post-submit-update-button" type="submit">
      Update
    </button>

    {% endblock content %}
  </form>
</div>