{% extends "blog/base.html" %}
{% load static %}
{% load image_utils %}

{% block head %}
<!-- django_ckeditor_5 -->
<link href="{% static 'django_ckeditor_5/ckeditor.css' %}" rel="stylesheet">
<script src="{% static 'django_ckeditor_5/prism.js' %}" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var lightModePrismCSS = "{% static 'django_ckeditor_5/prism-light.css' %}";
    var darkModePrismCSS = "{% static 'django_ckeditor_5/prism-dark.css' %}";

    var link = document.createElement('link');
    link.rel = 'stylesheet';

    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      // User prefers dark mode
      link.href = darkModePrismCSS;
    } else {
      // User prefers light mode
      link.href = lightModePrismCSS;
    }

    document.head.insertBefore(link, document.head.firstChild);
  });
</script>
<script src="{% static 'js/addHeaderIdsAndLinks.js' %}" defer></script>


<!-- Post-detail Injected Meta tags -->
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ post.date_posted|date:'c' }}">
{% if metaimg_url %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ metaimg_url }}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ metaimg_url }}">
<meta property="og:image:width" content="{{ metaimg_width }}">
<meta property="og:image:height" content="{{ metaimg_height }}">
<meta property="og:image:alt" content="{{ post.metaimg_alt_txt }}">
{% endif %}
{% endblock head %}

{% block content %}
<article class="media">
  <div class="media-body line-numbers ck-content">
    <div class="article-metadata">
      <h1 class="sml-margin-top-bottom">
        {{ post.title }}
        {% if post.draft %}
        <p id="draft">(Draft)</p>
        {% endif %}
      </h1>
      <div class="meta-img-container">
        <img id="post-detail-meta-img" src="{% get_image_url post.metaimg %}" alt="{{ post.metadesc }}">
      </div>
      <p class="post-dates sml-margin-top-bottom">
        <time datetime="{{ post.date_posted|date:"Y-m-d" }}">{{ post.date_posted|date:"F d, Y" }}</time> in {{ post.category.name }}
        {% if post.date_updated|date:"Ymd" != post.date_posted|date:"Ymd" %}
        <br>
        Last updated: <time datetime="{{ post.date_updated|date:"Y-m-d" }}">{{ post.date_updated|date:"F d, Y" }}</time>
        {% endif %}
      </p>
    </div>
    {% if post.author == user %}
    <div class="buttons-container">
      <a id="post-edit-button" class="btn btn-dark sml-margin-left-right" href="{% url 'post-update' post.slug %}">
        <span>Edit Post</span>
      </a>
      <a id="post-delete-button" class="btn btn-red sml-margin-left-right" href="{% url 'post-delete' post.slug %}">
        <span>Delete Post</span>
      </a>
    </div>
    {% endif %}
    <div class="sml-margin-top-bottom" id="print-container">
      <a class="btn btn-dark" href="javascript:window.print()">
        <img id="print-icon" src="{% static 'svg/print-icon.svg' %}" alt="Print this blog post">
        <span id="print-text">Print this post</span>
      </a>
    </div>
    <div class="post-text">
      {{ post.content|safe }}
    </div>
</article>

<!-- Comments Section-->
<section id="comments-section" class="content-section sml-margin-top-bottom">
  <h2>Comments</h2>
  <ul id="comments-list">
    {% if post.comments.count > 0 %}
    {% for comment in post.comments.all %}
    {% include 'blog/comment/comment_item.html' %}
    {% endfor %}
    <li class="comment sml-margin-top-bottom">
      <!-- Create Comments Section-->
    {% include 'blog/comment/add_comment.html' %}
    </li>
  </ul>

  {% else %}
  <div id="no-comments-message">
    <li class="comment">No comments yet.</li>
    {% include 'blog/comment/add_comment.html' %}
  </div>
  {% endif %}
</section>



<a href="{% url 'home' %}" id="post-back-to-home-button" class="btn btn-primary">
  Back to Home
</a>

<div class="social-share-container">
  <ul class="social-share">
    <li>
      <a class="resp-sharing-button__link x"
        href="https://twitter.com/intent/tweet/?text={{ post.title }}&amp;url={{ request.build_absolute_uri }}"
        target="_blank" rel="noopener noreferrer" aria-label="Share on X">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
          <img class="social-share-btn" src="{% static 'svg/x-share-btn.svg' %}" alt="X">
        </div>
        <span>Share on X</span>
      </a>
    </li>
    <li>
      <a class="resp-sharing-button__link reddit"
        href="https://reddit.com/submit/?url={{ request.build_absolute_uri }}&amp;resubmit=true&amp;title={{ post.title }}"
        target="_blank" rel="noopener" aria-label="Share on Reddit">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
          <img class="social-share-btn" src="{% static 'svg/reddit-share-btn.svg' %}" alt="Reddit">
        </div>
        <span>Share on Reddit</span>
      </a>
    </li>
    <li>
      <a class="resp-sharing-button__link linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}&amp;title={{ post.title }}&amp;summary={{ post.metadesc }}&amp;source={{ request.build_absolute_uri }}"
        target="_blank" rel="noopener" aria-label="Share on LinkedIn">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
          <img class="social-share-btn" src="{% static 'svg/linkedin-share-btn.svg' %}" alt="LinkedIn">
        </div>
        <span>Share on LinkedIn</span>
      </a>
    </li>
  </ul>
</div>

<!-- Related Posts Section -->
<section id="related-posts-section" class="content-section sml-margin-top-bottom">
  <h2>Related Posts</h2>
  {% for post in related_posts %}
  {% include 'blog/parts/post_card.html' %}
  {% endfor %}
</section>
<!-- About The Author Section -->
{% include 'blog/parts/about_me_card.html' %}



{% endblock content %}