{% extends "blog/base.html" %}
{% load static %}
{% block head %}
<link href="{% static 'css/portfolio.css' %}" rel="stylesheet">
<script src="{% static 'js/carousel.js' %}" defer></script>
<script src="{% static 'js/accordion.js' %}" defer></script>
{% endblock head %}

{% block content %}
<div class="resume-container">
  <a target="_blank" href="{% static 'portfolio/John-Solly-Resume.pdf' %}" class="resume-btn">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z">
      </path>
    </svg>
    View Resume ↗
  </a>
</div>
<h1 id="portfolioHello" class="portfolio-hello">
  Hello World,<br>I'm John!
</h1>
<article class="accordion-container">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" aria-expanded="false">
        <span class="accordion-title">Tap or click to read John Solly's Bio</span>
        <span class="accordion-icon">
          <img id="accordion-expand-collapse-arrow" src="{% static 'svg/accordion_arrow.svg' %}" alt="expand/collapse">
        </span>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse">
      <div class="accordion-body">
        <img class="bio-image" src="{% static 'portfolio/gisLecture.webp' %}"
          alt="John at 2015 AAG conference with Rebecca Rice and Michael Goodchild" />
        {% include "blog/parts/long_solly_bio.html" %}
      </div>
    </div>
  </div>
</article>

{% include "blog/parts/posts.html" %}
<div class="testimonial-carousel">
  <h2 class="testimonial-title" id="carouselExampleCaptions">Testimonials</h2>
  <div class="carousel-wrapper">
    <div class="carousel-container">
      <button class="carousel-control-prev" type="button" aria-label="Previous">&#10094;</button>
      <div class="carousel-inner">
        {% for item in carousel_items %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-index="{{ forloop.counter0 }}">
          <div class="carousel-item-content">
            <img class="avatar-img" src="{% static item.avatar_url %}" alt="avatar" />
            <div class="carousel-content">
              <div class="carousel-text">
                <h3 class="carousel-name">{{ item.name }}</h3>
                <p class="carousel-position">{{ item.position }}</p>
                <p class="carousel-info">{{ item.company }} - {{ item.year }}</p>
              </div>
              <p class="testimonial-quote">{{ item.quote }}</p>
              <p class="carousel-review-link"><a target="_blank" rel="noopener noreferrer" href="{{ item.link }}">Open
                  review on LinkedIn</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-next" type="button" aria-label="Next">&#10095;</button>
    </div>
  </div>
</div>
<!-- Indicators -->
<ol class="carousel-indicators">
  {% for item in carousel_items %}
  <li {% if forloop.first %}class="active" {% endif %} data-carousel-index="{{ forloop.counter0 }}"></li>
  {% endfor %}
</ol>
<br>
<hr>
<br>
{% include "blog/parts/contact_me.html" %}
<hr>
<br>
{% include "blog/parts/page_speed_insights.html" %}
{% endblock content %}