{% extends "blog/parts/base.html" %} {% block title %}{{ category|title }}{% endblock title %} {% block meta %}
<meta name="description" content="{{ category }} Posts" />
{% include "blog/parts/logo_meta.html" %}
<meta property="og:type" content="article:section" />
<meta property="og:title" content="{{ category|title }}" />
<meta name="twitter:description" content="{{ category }} Posts" />
{% endblock meta %}

{% block content %}
{% if category.name == "portfolio" %}
{% include 'blog/portfolio_top.html' %}
{% endif %}
<section>
<h1 class="mb-0 display-6">{{ category|title }}</h1>
<p class="mb-2 fs-4">{{ category.description }}</p>
{% include "blog/parts/posts.html" %}
</section>
{% include "blog/parts/pagination.html" %}
{% if category.name == "portfolio" %}
<section>
{% include 'blog/portfolio_bottom.html' %}
</section>
{% endif %}
{% endblock content %}