{% extends "blog/parts/base.html" %}

{% block title %}
{{ category|title }} Insights from a Geospatial Software Engineer
{% endblock title %}
{% block meta %}
<meta property="og:type" content="article:section" />
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}"/>
<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}"/>
<meta name="twitter:description" content="Get tips and insights on {{ category }} from a geospatial engineer. Read the latest blog posts and stay up-to-date on the latest industry trends."/>
<meta name="description" content="Get tips and insights on {{ category }} from a geospatial engineer. Read the latest blog posts and stay up-to-date on the latest industry trends." />
<meta property="og:title" content="{{ category|title }} Insights from a Geospatial Software Engineer" />
{% include "blog/parts/logo_meta.html" %}
{% endblock meta %}

{% block content %}
<section id="category-blog-posts">
    <h1 class="mb-0 display-6">{{ category|title }}</h1>
    <p class="mb-2 fs-4">{{ category.description }}</p>
    {% include "blog/parts/posts.html" %}
</section>
{% endblock content %}