{% extends "blog/parts/base.html" %} {% block title %}{{ category|title }}{% endblock title %} {% block meta %}
<meta name="description" content="{{ category }} Posts" />
{% include "blog/parts/logo_meta.html" %}
<meta property="og:type" content="article:section" />
<meta property="og:title" content="{{ category|title }}" />
<meta name="twitter:description" content="{{ category }} Posts" />
{% endblock meta %}

{% block content %}
{% if category.name == "portfolio" %} {% include 'blog/portfolio_top.html' %}
{% endif %}
<h1 class="display-6 lh-1 mt-4">{{ category|title }}</h1>
<h4 class="mb-2">{{ category.description }}</h4>
{% include "blog/parts/posts.html" %} {% include "blog/parts/pagination.html" %}
{% if category.name == "portfolio" %} {% include 'blog/portfolio_bottom.html' %}
{% endif %} {% endblock content %}
