{% extends "blog/parts/base.html" %}
{% load sri %}
{% load static %}

{% block head %}

<script>
window.addEventListener("beforeunload", function (e) {
  if (document.activeElement.type === "submit") {
    return null;
  }

  e.preventDefault();
  e.returnValue = "Are you sure you want to leave this page?";
});
</script>
{% endblock head %}



{% block content %}
<h1>Update Post</h1>
<p class="card-text">
  <span class="text-success" id="title-count">Title Characters: <span class="char-count"></span></span>
</p>
<p class="card-text">
  <span class="text-success" id="slug-count">Slug Characters: <span class="char-count"></span></span>
</p>
<p class="card-text">
  <span class="text-success" id="metadesc-count">Metadesc Characters: <span class="char-count"></span></span>
</p>


<form>
  {% csrf_token %}
  <button id="generate-title" hx-post="/generate-with-gpt/{{ post.id }}/" hx-swap="outerHTML"
    hx-target="#id_gpt_input">Generate
    Title</button>
  <button id="generate-slug" hx-post="/generate-with-gpt/{{ post.id }}/" hx-swap="outerHTML" hx-include="#id_gpt_input"
    hx-target="#id_gpt_input">
    Generate Slug
  </button>
  <button id="generate-metadesc" hx-post="/generate-with-gpt/{{ post.id }}/" hx-swap="outerHTML"
    hx-target="#id_gpt_input">Generate
    Meta Description</button>
  <input autofocus="" class="form-control" name="gpt_input" id="id_gpt_input" maxlength="250" name="gpt_input"
    required="" type="text" placeholder="Generate with GPT!">
</form>

<br />
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.media }} {{ form.as_p }}
    <button class="post-submit-button" id="post-submit-update-button" type="submit">
      Update
    </button>

    {% endblock content %}
  </form>
</div>