{% extends "blog/parts/base.html" %}
{% load static %}

{% block head %}
<!-- django_ckeditor_5 -->
<link href="{% static 'django_ckeditor_5/ckeditor.css' %}" rel="stylesheet">
<link href="{% static 'django_ckeditor_5/prism.css' %}" rel="stylesheet">
<script src="{% static 'django_ckeditor_5/prism.js' %}" defer></script>
<script src="{% static 'js/addHeaderIdsAndLinks.js' %}" defer></script>


<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ post.date_posted|date:'c' }}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ post.metaimg.url }}">
<meta property="og:image:width" content="{{ post.metaimg.width }}">
<meta property="og:image:height" content="{{ post.metaimg.height }}">
<meta property="og:image:alt" content="{{ post.metaimg_alt_txt }}">
{% endblock head %}

{% block content %}
<div class="sml-margin-top-bottom" id="print-container">
  <a class="btn btn-dark" href="javascript:window.print()">
    <img id="print-icon" src="{% static 'svg/print-icon.svg' %}" alt="Print this blog post">
    <span id="print-text">Print this post</span>
  </a>
</div>
<article class="media content-section">
  <div class="meta-img-container">
    <img id="post-detail-meta-img" src="{{ post.metaimg.url }}" alt="{{ post.metadesc }}">
  </div>
  <div class="media-body line-numbers ck-content">
    <div class="article-metadata">
      <h1 class="sml-margin-top-bottom">
        {{ post.title }}
        {% if post.draft %}
        <p id="draft">(Draft)</p>
        {% endif %}
      </h1>
      <p class="post-date sml-margin-top-bottom">
        {{ post.date_posted|date:"F d, Y" }} in {{ post.category.name }}</p>
    </div>
    {% if post.author == user %}
    <div class="buttons-container">
      <a id="post-edit-button" class="btn btn-dark sml-margin-left-right" href="{% url 'post-update' post.slug %}">
        <span>Edit Post</span>
      </a>
      <a id="post-delete-button" class="btn btn-red sml-margin-left-right" href="{% url 'post-delete' post.slug %}">
        <span>Delete Post</span>
      </a>
    </div>
    {% endif %}
    <div class="post-text">
      {{ post.content|safe }}
    </div>
</article>

<!-- Comments Section-->
<section id="comments-section" class="content-section .sml-margin-top-bottom">
  <h2>Comments</h2>
  {% if comments %}
  <ul class="comments-list">
    {% for comment in comments %}
    <li class="comment">
      <div class="comment-meta">
        <small>
        <span class="comment-author">{{ comment.author }}</span>
        <span class="comment-date"> 
          {{ comment.date_posted|date:"F d, Y" }}
        </span>
        </small>
      </div>
      <div class="comment-content">{{ comment.content }}</div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="post-date sml-margin-top-bottom">No comments yet.</p>
  {% endif %}
</section>
<!-- End of Comments Section -->

<!-- create comments section-->
{% include 'blog/post/add_comment.html' %}
<!-- End of Create Comments section-->

<a href="{% url 'home' %}" id="post-back-to-home-button" class="btn btn-dark">
  Back to Home
</a>

<div class="social-share-container">
<ul class="social-share">
  <li>
    <a class="resp-sharing-button__link twitter"
      href="https://twitter.com/intent/tweet/?text={{ post.title }}&amp;url={{ request.build_absolute_uri }}"
      target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter">
      <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
        <img class="social-share-btn" src="{% static 'svg/twitter-share-btn.svg' %}" alt="Twitter">
      </div>
      <span>Share on Twitter</span>
    </a>
  </li>
  <li>
    <a class="resp-sharing-button__link reddit"
      href="https://reddit.com/submit/?url={{ request.build_absolute_uri }}&amp;resubmit=true&amp;title={{ post.title }}"
      target="_blank" rel="noopener" aria-label="Share on Reddit">
      <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <img class="social-share-btn" src="{% static 'svg/reddit-share-btn.svg' %}" alt="Reddit">
      </div>
      <span>Share on Reddit</span>
    </a>
  </li>
  <li>
    <a class="resp-sharing-button__link linkedin"
      href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}&amp;title={{ post.title }}&amp;summary={{ post.metadesc }}&amp;source={{ request.build_absolute_uri }}"
      target="_blank" rel="noopener" aria-label="Share on LinkedIn">
      <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <img class="social-share-btn" src="{% static 'svg/linkedin-share-btn.svg' %}" alt="LinkedIn">
      </div>
      <span>Share on LinkedIn</span>
    </a>
  </li>
</ul>
</div>
{% endblock content %}