{% extends "blog/parts/base.html" %} {% load static %} {% load sri %}

{% block head %}
<!-- django_ckeditor_5 -->
{% sri_static 'django_ckeditor_5/ckeditor.css' %}
{% sri_static 'django_ckeditor_5/prism.css' %}
{% sri_static 'django_ckeditor_5/prism.js' %}
{% sri_static 'css/social_share.css' %}
{% sri_static 'js/addHeaderIdsAndLinks.js' %}

<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ post.date_posted|date:'c' }}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ post.metaimg.url }}">
<meta property="og:image:width" content="{{ post.metaimg.width }}">
<meta property="og:image:height" content="{{ post.metaimg.height }}">
<meta property="og:image:alt" content="{{ post.metaimg_alt_txt }}">
{% endblock head %}

{% block content %}
<div id="print-container">
  <a id="print-link" href="javascript:window.print()">
    <img id="print-icon" src="{% static 'svg/print-icon.svg' %}" alt="Print this blog post">
    <span id="print-text">Print this post</span>
  </a>
</div>
<article class="media content-section">
  <div class="meta-img-container">
    <img id="post-detail-meta-img" src="{{ post.metaimg.url }}" alt="{{ post.metadesc }}">
  </div>
  <div class="media-body line-numbers ck-content">
    <div class="article-metadata">
      <h1>
        {{ post.title }}
        {% if post.draft %}
        <p id="draft">(Draft)</p>
        {% endif %}
      </h1>
      <p class="post-date">
        {{ post.date_posted|date:"F d, Y" }} in {{ post.category|title }}</p>
    </div>
    {% if post.author == user %}
    <div class="buttons-container">
      <a id="post-edit-button" class="btn-dark" href="{% url 'post-update' post.slug %}">
        <span>Edit Post</span>
      </a>
      <a id="post-delete-button" class="btn-red" href="{% url 'post-delete' post.slug %}">
        <span>Delete Post</span>
      </a>
    </div>
    {% endif %}
    <div class="post-content">
      {{ post.content|safe }}
    </div>
</article>

<a href="{% url 'home' %}" id="post-back-to-home-button" class="btn btn-secondary btn-lg mb-5">
  Back to Home
</a>
<ul class="social-share">
  <li>
    <a class="resp-sharing-button__link twitter"
      href="https://twitter.com/intent/tweet/?text={{ post.title }}&amp;url={{ request.build_absolute_uri }}"
      target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter">
      <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
        <img src="{% static 'svg/twitter-share-btn.svg' %}" width="24" height="24" alt="Twitter">
      </div>
      <span>Share on Twitter</span>
    </a>
  </li>
  <li>
    <a class="resp-sharing-button__link reddit"
      href="https://reddit.com/submit/?url={{ request.build_absolute_uri }}&amp;resubmit=true&amp;title={{ post.title }}"
      target="_blank" rel="noopener" aria-label="Share on Reddit">
      <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <img src="{% static 'svg/reddit-share-btn.svg' %}" width="24" height="24" alt="Reddit">
      </div>
      <span>Share on Reddit</span>
    </a>
  </li>
  <li>
    <a class="resp-sharing-button__link linkedin"
      href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}&amp;title={{ post.title }}&amp;summary={{ post.metadesc }}&amp;source={{ request.build_absolute_uri }}"
      target="_blank" rel="noopener" aria-label="Share on LinkedIn">
      <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
        <img src="{% static 'svg/linkedin-share-btn.svg' %}" width="24" height="24" alt="LinkedIn">
      </div>
      <span>Share on LinkedIn</span>
    </a>
  </li>
</ul>
{% endblock content %}