black
Brotli
coverage
Django
django-ckeditor
django-ckeditor-5
django-coverage-plugin
django-csp
django-fastdev
django-livereload-server
django-robots
django-simple-captcha
django-sri
flake8
filetype
gunicorn
ipinfo
Pillow
psycopg2-binary
pytest
python-dotenv
requests
whitenoise