Django==4.2.2
django-ckeditor-5==0.2.8
django-htmx==1.15.0
django-resized==1.0.2
django-robots==5.0
django-simple-captcha==0.5.17
feedparser==6.0.10
filetype==1.2.0
Pillow==9.5.0
psycopg[binary]==3.1.9
psycopg==3.1.9
psutil==5.9.5
python-dotenv==1.0.0
readtime==2.0.0
requests==2.31.0

# For OpenAI
scipy==1.10.1
numpy==1.25.0
plotly==5.15.0
openai==0.27.8
pandas==2.0.2
scikit-learn==1.2.2
matplotlib==3.7.1
tiktoken==0.4.0

# Legacy dependencies for migrations
django-ckeditor==6.4.2

# Development dependencies
django-coverage-plugin==3.0.0
coverage==7.2.7
black==23.3.0
django-fastdev==1.7.3
pytest==7.3.2
pre-commit==3.3.2
django-livereload-server==0.4
ruff==0.0.272

# Production dependencies
gunicorn==20.1.0
whitenoise==6.4.0
django-sri==0.6.0
django-csp==3.7
Brotli==1.0.9
