{% load static %}
<div id="aboutMe" class="card mb-3 shadow">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center p-1">
      <img src="{% static 'jsolly.webp' %}" class="card-img" alt="John Solly Profile Picture" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">John Solly</h4>
        <p class="small text-muted mb-0">
          <a href="https://twitter.com/_jsolly" rel="noopener noreferrer" target="_blank">Twitter</a>
          |
          <a href="https://www.linkedin.com/in/jsolly/" rel="noopener noreferrer" target="_blank">Linkedin</a>
          |
          <a href="https://github.com/jsolly" rel="noopener noreferrer" target="_blank">Github</a>
          |
          <a href="https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw" rel="noopener noreferrer"
            target="_blank">Youtube</a>
        </p>
        <p class="card-text">
          Hey there! I've been in the GIS space for the past 11 years. I love
          everything raster and vector. I started my professional career at Esri
          where I helped launch ArcGIS Dashboards out of beta. These days, I've
          been getting into geospatial web development with Python and
          TypeScript. I created this site to showcase my projects and share what
          I learn with the Geo community. Check out my
          <a href="{% url 'blog-category' 'portfolio' %}">Portfolio</a> to see
          my latest work!
        </p>
      </div>
    </div>
  </div>
</div>