{% load static %}
<div id="aboutMe" class="card mb-5 shadow">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center p-1">
      <img src="{% static 'jsolly.webp' %}" class="card-img" alt="John Solly Profile Picture" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">John Solly</h2>
        <p class="small text-muted mb-1">
          <a href="https://twitter.com/_jsolly" rel="noopener noreferrer" target="_blank">Twitter</a>
          |
          <a href="https://www.linkedin.com/in/jsolly/" rel="noopener noreferrer" target="_blank">Linkedin</a>
          |
          <a href="https://github.com/jsolly" rel="noopener noreferrer" target="_blank">Github</a>
          |
          <a href="https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw" rel="noopener noreferrer"
            target="_blank">Youtube</a>
        </p>
        <p class="card-text">
          Hey there! I've been in the GIS space for the past 11 years. As a geospatial developer, I combine GIS domain
          knowledge and full-stack web development to create beautiful (and fast) mapping applications. This site
          showcases my projects and is where I share useful articles with the
          GeoDev community. Check out my <a href="{% url 'blog-category' 'portfolio' %}">Portfolio</a> to see my latest
          work!
        </p>
      </div>
    </div>
  </div>
</div>