{% load static %}
<h3>About Me</h3>
<div class="card mb-3 shadow">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{% static 'jsolly.jpeg' %}" class="card-img"
        alt="{{ my_profile.user.first_name }} {{ my_profile.user.last_name }} Profile Picture">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h4 class="card-title">
          John
          Solly
        </h4>
        <nobr class="small text-muted">
          <a href="https://www.linkedin.com/in/jsolly/" target="_blank">Linkedin</a>
          |
          <a href="https://github.com/jsolly" target="_blank">Github</a>
          |
          <a href="https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw" target="_blank">Youtube</a>
        </nobr>
        <p class="card-text">
          <nobr class="lead">I am a web developer</nobr> with domain expertise in GIS, Remote Sensing, and business intelligence. One of my
          favorite things to do is research a topic and share my knowledge and conclusions with others.
          blogthedata.com is a space to share my most important insights.
        </p>
      </div>
    </div>
  </div>
</div>