{% load static %} {% load sri %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>
    {% block title %}Geospatial Web Development{% endblock title %}
  </title>
  {% block head %} {% endblock head %}
  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="author" content="John Solly">
  {% block meta %} {% endblock meta %}

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.webp' %}">
  <link rel="icon" type="image/webp" sizes="32x32" href="{% static 'favicon/favicon-32x32.webp' %}">
  <link rel="icon" type="image/webp" sizes="16x16" href="{% static 'favicon/favicon-16x16.webp' %}">
  <link rel="icon" type="image/webp" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.webp' %}">
  <link rel="icon" type="image/webp" sizes="512x512" href="{% static 'favicon/android-chrome-192x192.webp' %}">
  <link rel="icon" type="image/webp" sizes="48x48" href="{% static 'favicon/favicon.ico' %}">

  <!-- Bootstrap -->
  {% sri_static 'bootstrap/bootstrap.min.css' %}
  {% sri_static 'bootstrap/bootstrap.bundle.min.js' %}

  <!-- My CSS -->
  {% sri_static 'css/main.css' %}

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.8.2"
    integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu"
    crossorigin="anonymous"></script>
</head>

<body>
  <a id='skip-nav' class='screenreader-text' href='#main'>
    Skip to content
  </a>
  {% include "blog/parts/header.html" %}
  <div class="container">
    <div class="row">
      <nav class="col-lg-3 mb-5" aria-label="Sidebar Navigation">
        <!--Sidebar-->
        {% include "blog/parts/sidebar.html" %}
      </nav>
      <div id="content-area" class="col-lg-9 fs-5">
        {% if messages %} {% for message in messages %} Removed due to caching issue persisting message
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %}
        <main id="main">
          {% block content %}
          {% endblock %}
        </main>
        <div id="scroll-to-top-container" class="float-end">
          <a id="scroll-to-top" href="#">
            <img src="{% static 'svg/scroll-to-top.svg' %}" width="45" height="45" alt="Scroll to top of page">
            top</a>
        </div>
        <!--Footer-->
        <footer>
          {% include "blog/parts/footer.html" %}
        </footer>
      </div>
    </div>
  </div>
</body>

</html>