{% load static %} {% load sri %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      {% block title %}Geospatial Web Development{% endblock title %}
    </title>
    {% block head %} {% endblock head %}
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta name="author" content="John Solly" />
    {% block meta %} {% endblock meta %}

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon/apple-touch-icon.webp' %}"
      integrity="sha384-IOUppspYTbISZchqpOQiUnyFxb6AhlvJqZRXFlU7RfII0ZdZXzIo3LU+KmiT1o3Z"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="32x32"
      href="{% static 'favicon/favicon-32x32.webp' %}"
      integrity="sha384-xe5sniKrv4+mwnK4QVnbxCgd0Ds0pE7Wux4rNMP6LjJz5NaEwnYDbXDtmH/VRAXY"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="16x16"
      href="{% static 'favicon/favicon-16x16.webp' %}"
      integrity="sha384-sC3iLZk9YO3WAXAcay2D/eMTB56/6W9wJVMlk4AkcPVcEzaQ6+QB71/5mtspWyVf"
      crossorigin="anonymous"
    />

    <link
      rel="icon"
      type="image/webp"
      sizes="512x512"
      href="{% static 'favicon/android-chrome-512x512.webp' %}"
      integrity="sha384-a5NpdTcTw+crh/PQbh++PiRI9V5PGN/GuHvo5tql2f+EaQWF0tMWlAdG1PaRH/g3"
      crossorigin="anonymous"
    />

    <link
      rel="icon"
      type="image/webp"
      sizes="512x512"
      href="{% static 'favicon/android-chrome-192x192.webp' %}"
      integrity="sha384-yB41XbDdEj6WlLiR1x9Vs1+9+LJSS7b+c+me3x2jPReN6Zr58VfHvqH0zrmi7OBV"
      crossorigin="anonymous"
    />

    <link
      rel="icon"
      type="image/webp"
      sizes="48x48"
      href="{% static 'favicon/favicon.ico' %}"
      integrity="sha384-A3PjKYwpKsnffqOV+psi6kfjhOvLjdiz+bOiB7TR6dB/J9u48hyynfQlYvpU7P02"
      crossorigin="anonymous"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- My CSS -->
    {% sri_static 'main.css' %}

    <!-- Mailchimp -->
    {% sri_static 'mailchimp.css' %}
  </head>

  <body>
    <div class="spinner"></div>
    {% include "blog/parts/header.html" %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-3 mb-4">
          <!--Sidebar-->
          {% include "blog/parts/sidebar.html" %}
        </div>
        <div id="content-area" class="col-lg-9 fs-5">
          <!-- {% if messages %} {% for message in messages %} Removed due to caching issue persisting message
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %} {% endif %}  -->
          {% block content %} {% endblock %}
          <div class="float-end">
            <a id="scroll-to-top" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="red"
                class="bi bi-arrow-up-circle-fill"
                viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
                />
              </svg>
              top
            </a>
          </div>
          <!--Footer-->
          {% include "blog/parts/footer.html" %}
        </div>
      </div>
    </main>
  </body>
</html>
