{% load static %}

<!DOCTYPE html>
<html lang="en-US">

<head>
  {% block head %}
  <meta property="og:type" content="website">
  <meta property="og:image"
  content="{{ request.scheme }}://{{ request.get_host }}{% static 'iPhoneblogthedata.webp' %}">
  <meta property="og:image:alt" content="An Iphone on a table with blogthedata.com on the screen">
  <meta property="og:image:type" content="image/webp">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  {% endblock head %}
  <title>
    {{ title }}
  </title>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="author" content="John Solly">
  <meta name="description" content="{{ description }}" />
  

  <!-- Open Graph Meta -->
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />

  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image"
    content="{{ request.scheme }}://{{ request.get_host }}{% static 'iPhoneblogthedata.webp' %}">
  <meta name="twitter:site" content="@_jsolly">
  <meta property="twitter:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
  <meta property="twitter:domain" content="{{ request.get_host }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.webp' %}">
  <link rel="icon" type="image/webp" sizes="32x32" href="{% static 'favicon/favicon-32x32.webp' %}">
  <link rel="icon" type="image/webp" sizes="16x16" href="{% static 'favicon/favicon-16x16.webp' %}">
  <link rel="icon" type="image/webp" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.webp' %}">
  <link rel="icon" type="image/webp" sizes="512x512" href="{% static 'favicon/android-chrome-192x192.webp' %}">
  <link rel="icon" type="image/webp" sizes="48x48" href="{% static 'favicon/favicon.ico' %}">


  <!-- My CSS -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet" defer>

  <!-- HTMX -->
  <script src="{% static 'js/htmx.min.js' %}" defer></script>

  <!-- ChatBox JS -->
  <script src="{% static 'js/chatbox.js' %}" defer></script>

  <!-- Header JS-->
  <script src="{% static 'js/header.js' %}" defer></script>

</head>

{% include "blog/parts/chatbox.html" %}

<body>
  <a href="{% url 'all-posts' %}" class="hidden-link">All Posts (Paginated)</a>
  <a id='skip-nav' class='screenreader-text' href='#main'>
    Skip to content
  </a>
  <div class="container">
    {% include "blog/parts/header.html" %}
    <div class="sidebar">
      {% include "blog/parts/sidebar.html" %}
    </div>
      <div id="content-area" class="post-content">
        {% if messages %} {% for message in messages %} Removed due to caching issue persisting message
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %}
        <main id="main">
          <div id="top">
            <div id="breadcrumbs-container">
              {% include "blog/parts/breadcrumbs.html" %}
            </div>
          </div>
          {% block content %}
          {% endblock content %}
        </main>
        <nav id="scroll-to-top-container" aria-label="Scroll to top">
          <a id="scroll-to-top" href="#">
            <img src="{% static 'svg/scroll-to-top.svg' %}" width="45" height="45" alt="Scroll to top of page">
            top</a>
          </nav>
        </div>
      </div>
      {% include "blog/parts/footer.html" %}
    </body>

</html>