{% load static %}
<div class="carousel-item-content">
  <img class="avatar-img" src="{% static item.avatar_url %}" alt="avatar" />
  <div class="carousel-content">
    <div class="carousel-text">
      <h3 class="carousel-name">{{ item.name }}</h3>
      <p class="carousel-position">{{ item.position }}</p>
      <p class="carousel-info">{{ item.company }} - {{ item.year }}</p>
    </div>
    <p class="testimonial-quote">{{ item.quote }}</p>
    <p class="carousel-review-link"><a target="_blank" rel="noopener noreferrer" href="{{ item.link }}">Open review on LinkedIn</a></p>
  </div>
</div>
