<section id="Contact-Me" class="col-lg-6 mx-auto text-center mb-5" aria-labelledby="contact-me-heading">
    <h2 class="lh-1 mb-3 fw-bolder display-6" id="contact-me-heading">Let's Build Something Together?</h2>
    <p class="mb-3">
      My inbox is always open. Whether you have a question or just want to say hi,
      I respond to every email within 72 hours.
    </p>
    <a rel="noopener noreferrer" target="_blank"
      href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda"
      class="btn btn-lg btn-outline-primary" aria-label="Say Hello to John">
      Say Hello
    </a>
  </section>
  