<p>
  As a highly skilled geospatial software engineer, I have a wealth of experience blending GIS domain knowledge with
  full-stack development to create stunning and efficient mapping applications. My academic background includes a
  bachelor's degree in Geography from UCSB, where I had the privilege of studying under renowned thought leaders
  Michael Goodchild and Waldo Tobler. I further honed my skills with an M.S. in Geoinformatics and Geospatial
  Intelligence at George Mason University. After graduation, I played a pivotal role in launching one of the world's
  most viewed geospatial web applications, ArcGIS Dashboards, as a product engineer at Esri.
</p>
<p>
  Currently, I am the lead geospatial developer for the EASIER Data Initiative, a Filecoin Foundation-funded project
  at UMD. My focus is on developing infrastructure that enables efficient, accessible, and sustainable onloading,
  analysis, and extraction of large geospatial datasets into blockchain-managed decentralized storage systems such as
  Filecoin and IPFS.
</p>
<p>
  Our project aims to streamline data analysis and extraction by integrating with existing geospatial workflows and
  standards such as COGs and STACs. In addition, we're developing user-friendly client programs in popular languages
  like JavaScript, Python, and Go.
</p>
<p>
  If you're facing complex geospatial challenges that require an experienced developer's expertise, feel free to drop
  me a message. Let's connect and find the perfect fit for a successful collaboration!
</p>