<p>
    As a geospatial software engineer, I combine GIS domain knowledge and full-stack development to create
    beautiful (and
    fast) mapping applications.
  </p>

  <p>
    I studied GIS under thought leaders Michael Goodchild and Waldo Tobler while completing a bachelor's in
    Geography at UCSB and an M.S. in Geoinformatics and Geospatial Intelligence at George Mason University. Upon
    graduation, I joined Esri as a product engineer to launch <a
      href="https://www.esri.com/en-us/arcgis/products/arcgis-dashboards/overview" rel="noopener noreferrer"
      target="_blank">
      ArcGIS Dashboards</a> out of beta to become one of the
    world's most viewed geospatial web applications.
  </p>

  <p>
    I've always been 'technical,' writing scripts to automate myself out of jobs, but things got serious when I
    began an open-source CS degree equivalent through <a href="https://github.com/ossu/computer-science"
      rel="noopener noreferrer" target="_blank">
      Open Source Society University</a>. Part-way through the
    program, I accepted a position at UMD, where I work today as a technical lead and geospatial software engineer
    funded
    through a grant from the Filecoin Foundation for the Decentralized Web. Learn more about the project at <a
      href="https://easierdata.org/" rel="noopener noreferrer" target="_blank">
      easierdata.org</a>
  </p>

  <p>
    If you have complex geospatial challenges that require a developer to solve,
    <a href="https://us14.list-manage.com/contact-form?u=3fb3f4adf8ab2cd1ebd6ff743&form_id=7c78cd242677faaebfc3d4a2bc0d5fda"
      rel="noopener noreferrer" target="_blank">
      Drop me a message</a>, and let's explore our fit together!
  </p>