<section id="PageSpeed-Insights" class="container  mb-4 fs-6">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <figure>
          <figcaption class="text-center pb-3"><a rel="noopener noreferrer" target="_blank"
              href="https://pagespeed.web.dev/report?url=https%3A%2F%2Fblogthedata.com%2F">Blogthedata.com PageSpeed
              Insights</a>
          </figcaption>
          <img src="{% static 'portfolio/lighthouse_scores.svg' %}"
            alt="PageSpeed Insights Scores. 100 Performance, A11Y, Best Practices, and SEO." />
        </figure>
      </div>
    </div>
  </section>