{% load static %}{% load post_utils %}
<article>
    <a href="{% url 'post-detail' post.slug %}#top" aria-label='{{ post.title }}'>
      <div class="card mb-5 shadow">
        <div class="row g-0">
          <div id="post-meta-img-container" class="col-md-4 d-flex align-items-center meta-img-container">
            <img src="{{ post.metaimg.url }}" width="{{ post.metaimg.width }}" height="{{ post.metaimg.height }}"
              class="card-img-top img-rounded" alt="{{ post.metaimg_alt_txt }}" />
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="d-flex align-items-center mb-3">
                <h2 class="card-title fw-bolder ml-3">
                  {{ post.title }}
                  {% if post.draft %}
                  <p id="draft">(Draft)</p>
                  {% endif %}
                </h2>
              </div>
              <p class="fs-6 mb-0">
                {{ post.date_posted|date:"F d, Y" }} in {{ post.category|title }}
              </p>
              <p class="fs-6 mb-0 d-flex align-items-center">
                <img src="{% static 'svg/clock.svg' %}" width="16" height="16" class="clock-icon" alt="Clock icon">
                &nbsp;{{ post.content|readtime }}
              </p>
              <p class="card-text">
                {{ post.snippet|safe }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </article>