{% load static %}
{% for post in posts %}
<a class="article-block media content-section shadow-sm" href="{% url 'post-detail' post.slug %}">
    <img class="rounded-circle article-img" src="{% static 'jsolly.jpeg' %}"
      alt="{{ post.author.first_name }} {{ post.author.last_name }} Profile Picture">
        <h2 class="article-title">{{ post.title }}</h2>
        <nobr>{{ post.author.first_name }} {{ post.author.last_name }} <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          {% if post.draft %}<nobr id="draft">(Draft)</nobr>{% endif %}
        </nobr>
      <p>{{ post.snippet|safe }}</p>
      </a>

{% endfor %}