<aside>
  <nav role="navigation" aria-label="Sidebar Navigation">
    <div class="list-group">
      <h2>Navigate to a Category</h2>
      <a href="{% url 'home' %}" id="sidebar-home" class="list-group-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        Blog Home
      </a>
      <div role="list" aria-label="Blog categories">
        {% for category_item in category_qs %}
        {% if category_item.slug != 'portfolio' %}
        <a href="{% url 'blog-category' category_item.slug %}" class="list-group-item {% if current_category == category_item.slug %}active{% endif %}" id="sidebar-{{ category_item.slug }}" role="listitem" data-badge="{{ category_item.posts_count }}">{{category_item.name}}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </nav>
</aside>
