<!-- Category Menu Code -->
<h3>Navigate to a Category</h3>
<div class="list-group">
  {% for category_item in category_qs %}
  <a href="{% url 'blog-category' category_item|slugify %}"
    class="list-group-item list-group-item-action {% if request.resolver_match.kwargs.category == category_item|slugify %}active{% endif %}"
    id="sidebar-{{ category_item|slugify }}">{{category_item|title}}
    <span class="badge rounded-pill bg-danger float-end">{{ category_item.posts_count }}</span>
  </a>
  {% endfor %}
  <a href="{% url 'blog-home' %}" id="sidebar-blog-home"
    class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'blog-home' %} active {% endif %}">
    Blog Home
  </a>
</div>