<ul class="comments-list">
    {% for comment in post.comments.all %}
    <li class="comment">
      <div class="comment-meta">
        <small>
          <span class="comment-author">{{ comment.author }}</span>
          <span class="comment-date">
            {{ comment.date_posted|date:"F d, Y" }}
          </span>
        </small>
      </div>
      <div class="comment-content">{{ comment.content|safe }}</div>
      {% if comment.author == request.user %}
      <span class="comment-actions">
        <a href="{% url 'comment-update' comment.id %}" class="btn btn-dark comment-btn comment-edit">Edit</a>
        <form class="comment-delete-form" method="POST" action="{% url 'comment-delete' comment.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-red comment-btn comment-delete">Delete</button>
        </form>
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>