{% block content %}
<section id="create-comments-section" class="content-section">
  {% if user.is_authenticated %}
  <h3>Comment</h3>
  <form hx-post="{% url 'comment-create' slug=post.slug %}" hx-swap="afterbegin" hx-trigger="submit"
    hx-target="#comments-list" hx-on::after-request="this.reset()">
    {% csrf_token %}
    {{ comment_form.media }}
    {{ comment_form }}
    <button id="comment-submit-button" type="submit">Post</button>
  </form>
  {% else %}
  <a href="{% url 'login' %}?next={{ request.path }}#comments" id="login-button" class="btn btn-primary">Login to Comment</a>
  {% endif %}
</section>
{% endblock content %}