name: blogthedata-tests
on:
  push:
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 3 * * 0-6"
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SECRET_KEY: ${{secrets.SECRET_KEY}}
      EMAIL_HOST_USER: ${{secrets.EMAIL_HOST_USER}}
      EMAIL_HOST_PASSWORD: ${{secrets.EMAIL_HOST_PASSWORD}}
      FROM_EMAIL: ${{secrets.FROM_EMAIL}}
      ALLOWED_HOSTS: ${{secrets.ALLOWED_HOSTS}}
      POSTGRES_USER: ${{secrets.POSTGRES_USER}}
      POSTGRES_PASS: ${{secrets.POSTGRES_PASS}}
      GIT_TOKEN: ${{secrets.GIT_TOKEN}}
      DEBUG: ${{secrets.DEBUG}}
      LOGGING: ${{secrets.LOGGING}}
      IP_INFO_TOKEN: ${{secrets.IP_INFO_TOKEN}}
      MAPBOX_TOKEN: ${{secrets.MAPBOX_TOKEN}}
    steps:
      - uses: actions/checkout@v3

      - name: set-up-postgresql-with-postgis
        uses: huaxk/postgis-action@v1
        with:
          postgresql user: ${{secrets.POSTGRES_USER}}
          postgresql password: ${{ secrets.POSTGRES_PASS }}
          postgresql db: "blogthedata_test"
      - name: install-system-dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install --no-install-recommends -y binutils libproj-dev gdal-bin

      - name: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.8
          cache: "pip"
      - name: install-python
        run: |
          pip install --upgrade pip
          pip install wheel
          python3 -m venv venv blogthedata/django_project/venv
          source blogthedata/django_project/venv/bin/activate
          pip install -r django_project/requirements/requirements.txt -c django_project/requirements/constraints.txt

      - name: lint-with-flake8
        run: |
          flake8 django_project

      - name: collect-static-files
        run: |
          python3 django_project/manage.py collectstatic --noinput

      - name: run-db-migrations
        run: |
          python3 django_project/manage.py migrate --noinput --settings=django_project.settings.ci

      - name: run-unit-tests-with-coverage
        run: |
          coverage run -m pytest django_project
          coverage report -m --skip-empty --skip-covered

  static_analysis:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ["javascript", "python"]
        # CodeQL supports [ 'cpp', 'csharp', 'go', 'java', 'javascript', 'python', 'ruby' ]
        # Learn more about CodeQL language support at https://aka.ms/codeql-docs/language-support

    steps:
      - uses: actions/checkout@v3

      - name: initialize-codeQL
        uses: github/codeql-action/init@v2
        with:
          languages: ${{ matrix.language }}

      - name: perform-codeQL Analysis
        uses: github/codeql-action/analyze@v2

  deploy:
    needs: [build, static_analysis]
    runs-on: ubuntu-latest
    steps:
      - name: deploy-to-linode
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd blogthedata
            git pull
            source django_project/venv/bin/activate
            python3 django_project/manage.py collectstatic --noinput
            sudo systemctl restart gunicorn

  coveralls:
    needs: [build, static_analysis, deploy]
    runs-on: ubuntu-latest
    steps:
      - name: coveralls-finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
